<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=06433b9c88fbeb5b8da71ebd01fd13ed&libraries=services"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/css/chatroom.css">
    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>채팅방</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav id="nav" th:replace="~{fragments/nav :: nav}">
</nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <input id="myMemberNo" type="hidden" th:value="${mymemberNo}">
    <section>
        <div class="container">
            <div class="messaging">
                <div class="inbox_msg">
                    <div class="inbox_people">
                        <div class="headind_srch">
                            <div class="recent_heading">
                                <h4>채팅방</h4>
                            </div>
                                <span id="nowchatusernick" style="float: right">채팅상대</span>
                        </div>
                        <div class="inbox_chat">
                            <div class="chat_list" th:each="l:${list}">
                                <a id="userclick" th:data-userno="${l.chatRoomReceiverNo}" th:data-useremail="${l.memberEmail}" th:data-usernick="${l.memberNickName}" th:data-userimage="${l.memberImage}">
                                <div class="chat_people">
                                    <div class="chat_img"> <img th:src="${l.memberImage}" alt="profileimage"> </div>
                                    <div class="chat_ib">
                                        <h5 th:text="${l.memberNickName}"></h5>
                                    </div>
                                </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="mesgs">
                        <div class="msg_history">
                        </div>
                        <div class="type_msg">
                            <div class="input_msg_write">
                                <input type="text" id="message" class="write_msg" placeholder="Type a message" maxlength="150" />
                                <button class="msg_send_btn" type="button" disabled><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="btn-area">
                        <span style="top:20%">이미지선택</span>
                        <span style="top:35%">이미지전송</span>
                        <span style="top:50%;left: 3px;">퍼칭리뷰</span>
                        <span style="top:65%;left: 2px;">퍼칭신청</span>
                        <label id="imageLabel" for="imageInput"><i class="fa-solid fa-image fa-2xl" style="color: #f4984e;"></i> </label>
                        <input type="file" id="imageInput" style="display: none;">
                        <a id="sendImageButton"><i class="fa-solid fa-arrow-up-right-from-square fa-2xl" style="color:#f4984e;"></i></a>
                        <div class="main-content">
                            <a id="openPopupButton"><i class="fa-solid fa-dog fa-2xl" style="color:#f4984e;"></i></a>
                        </div>
                        <a class="review-button"><i class="fa-solid fa-pen-to-square fa-2xl" style="color: #f4984e;"></i></a>

                    </div>
                </div>

            </div></div>
        <div class="popup-background">
            <div class="popup-content">  <!--퍼칭 신청 화면-->
                <h2>퍼칭신청</h2>
                <a id="closePopupButton"><i class="fa-solid fa-delete-left fa-rotate-180 fa-2xl" style="color: #f4984e"></i></a>
                <div class="map_wrap">
                        <div class="date-wrap">
                            <label for="day"></label>
                            <input type="date" id="day">
                            <label for="time"></label>
                            <input type="time" id="time"/>
                        </div>
                    <div id="map" style="width:50%;height:100%;position:relative;overflow:hidden;left: 50%;border-left: 1px solid #ea986b"></div>
                    <div class="hAddr">
                        <span class="title">지도중심기준 행정동 주소정보</span>
                        <span id="centerAddr"></span>
                    </div>
                    <div class="nowpos">
                        <a id="getCurrentPosBtn"><i class="fa-solid fa-location-crosshairs fa-lg" style="color: #f1722a;"></i></a>
                    </div>
                </div>

                <button class="popup-puching-btn" onclick="sendPuching()">신청하기</button>

            </div>
        </div>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="/script/chatroom.js"></script>
<script th:inline="javascript">
    const startuser = [[${startuser}]];
    console.log(startuser);
    if(startuser !== null && startuser.length > 0){
        nowChatEmail=startuser
        console.log(nowChatEmail);
        const $nowchatusernick = $('#nowchatusernick');
        $.ajax({
            url:"/api/v1/existchatroom",
            type:"GET",
            data:{
                receiverEmail:startuser
            }
        }).then(function (data){
            if(data===""|| data==null){
                return
            }
            console.log(data)
            const chatroom = ` <div class="chat_list">
        <a id="userclick" data-userno="` + data.chatRoomReceiverNo + `" data-useremail="` + data.memberEmail + `" data-usernick="` + data.memberNickName + `" data-userimage="` + data.memberImage + `">
            <div class="chat_people">
                <div class="chat_img"> <img src="` + data.memberImage + `" alt="profile"> </div>
                <div class="chat_ib">
                    <h5>` + data.memberNickName + `<span class="chat_date"></span></h5>
                </div>
            </div>
        </a>
    </div>`;
            nowChatEmail=startuser;
            nowChatNick=data.memberNickName;
            nowChatUser=data.chatRoomReceiverNo;
            $nowchatusernick.text('')
            $nowchatusernick.append(nowChatNick);
            $('.inbox_chat').append(chatroom)
            $('.inbox_chat').find('.chat_list:last-child').addClass('active_chat');
            $('.msg_send_btn').prop('disabled', false);
            //페이지 진입시 startuseremail을 가지고 들어올 경우 채팅방을 append시켜놓고 send버튼을 활성화
            // 채팅방이 이미 생성되있는지 여부에 따라 채팅방을 append할지 원래있던방을 입력시키고 채팅로그를 띄운다
        }).catch(function(err){
            console.log("existchatroom ajax 요청의 catch"+err)
        })
    }


    const msg = [[${msg}]];
    if (msg !== null) {
        Swal.fire({
            title:msg
        });
    };
</script>
</body>
</html>