<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>퍼칭 메인화면</title>
    <link rel="stylesheet" href="/main.css">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=660792846d96851836832221cf48b4f7&libraries=services"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <style>
        #itemList{
            height: 400px;
            width:500px;
            overflow-y: scroll;
            border: 1px solid black;
            padding: 10px;
        }
        .item {
            margin-bottom: 10px;
            border: 1px solid gray;
            padding: 10px;
            height:80px;
        }
        .loading {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            padding-top: 10px;
        }
        .itemImage{
            border-radius: 70%;
            width: 90px;
        }
        .itemNickname{
            padding: 10px;
            margin:0 auto;
        }
    </style>
    <style>
        .map_wrap {position:relative;width:100%;height:350px;}
        .title {font-weight:bold;display:block;}
        .hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
        #centerAddr {display:block;margin-top:2px;font-weight: normal;}
        .bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
    </style>
</head>
<body>
<div id="page">
    <header id="header" th:replace="~{/fragment/header.html}">
    </header>
    <nav id="nav" th:replace="~{/fragment/nav.html}">
    </nav>
    <main>
        <aside id="aside" th:replace="~{/fragment/aside.html}">
        </aside>
        <!--section  section   section   section-->
        <section id="section">
            <div class="map_wrap">
                <div id="map" style="width:50%;height:100%;position:relative;overflow:hidden;"></div>
                <div class="hAddr">
                    <span class="title">지도중심기준 행정동 주소정보</span>
                    <span id="centerAddr"></span>
                </div>
            </div>
            <button onclick="getCurrentPosBtn()">내위치 받아오기</button>
            <label>
                <select>
                    <option>거리</option>
                    <option>리뷰</option>
                    <option>인기</option>
                </select>
            </label>
            <div id="itemList">
            </div>
            <div id="loading" class="loading" style="display: none;">
                Loading...
            </div>

            <!--좌표 자리수 맞추는 함수 geoloaction함수 updatelist함수   -->
            <script>
                var pageNum = 1; // 현재 페이지
                var pageSize = 10; // 한 페이지당 아이템 개수
                var isLoading = false;

                function roundLatlong(num,n){
                    if(isNaN(num)){
                        console.log(num+'은 숫자가 아니다!!!')
                        return ;
                    }
                    return +(Math.round(num + "e+" + n)  + "e-" + n);
                }
                function locationLoadSuccess(pos){
                    // geo로 받은 내위치
                    var currentPos = new kakao.maps.LatLng(pos.coords.latitude,pos.coords.longitude);

                    map.panTo(currentPos);

                    var marker = new kakao.maps.Marker({
                       position: currentPos
                    });
                    marker.setMap(null);
                    marker.setMap(map)
                    $('#itemList').empty();
                    pageNum=1;
                    loadItems(pageNum,pageSize,pos.coords.latitude,pos.coords.longitude)
                    // map.setCenter(currentPos);
                }
                function locationLoadError(pos){
                    var defalut_LatLng = new kakao.maps.LatLng(37.4398411, 126.6640894)

                    map.panTO(defalut_LatLng)

                    alert('위치 정보를 못가져왔넹')
                }
                function getCurrentPosBtn(){
                    navigator.geolocation.getCurrentPosition(locationLoadSuccess,locationLoadError);

                }




            </script>
            <!-- 유저리스트 페이징    -->
            <script>
                // 자바스크립트 코드

                    // 초기 데이터 로드
                    // var pageNum = 1; // 현재 페이지
                    // var pageSize = 10; // 한 페이지당 아이템 개수
                    // loadItems(pageNum, pageSize);
                    var $itemList= $('#itemList')

                    // 스크롤 이벤트 핸들러 등록
                    $itemList.scroll(function() {
                        // console.log("스크롤 움직임")
                        // console.log($itemList.scrollTop())
                        // console.log($itemList.height())
                        // console.log($itemList[0].scrollHeight)
                        if (($itemList.scrollTop()+20) + $itemList.height() >= $itemList[0].scrollHeight) {
                            // 리스트의 끝까지 도달함

                            console.log(pageNum)
                            var center=map.getCenter();
                            var now_Centerlag=roundLatlong(center.Ma,7);
                            var now_Centerlng=roundLatlong(center.La,7);

                            loadItems(pageNum,pageSize,now_Centerlag,now_Centerlng); //
                            pageNum++;

                        }
                    });

                    // 아이템 로드 함수
                     async function loadItems(pageNum,pageSize,latitude,longitude) {
                         if (!isLoading) {
                             isLoading = true;
                             $('#loading').show(); // 로딩 div 노출
                             $.ajax({
                                 url: "/api/v1/puching/userlist",
                                 type: "GET",
                                 data: {
                                     pageNum: pageNum,
                                     pageSize: pageSize,
                                     latitude: latitude,
                                     longitude: longitude
                                 },
                                 success: await function (data) {
                                     var userdata = data;
                                     console.log(userdata);

                                     // 데이터 가져오기 성공
                                     var itemList = $("#itemList");
                                     $.each(userdata, function (i, item) {
                                         itemList.append("<div class='item'><img class='itemImage' src='"+item.memberImage+"' alt='profile image'><" +
                                             "span class='itemNickname'>" + item.memberNickName + "</span>" +
                                             "<a href=http://localhost:8081/member/profile?memberNo="+item.memberNo+">프로필이동</a>" + item.memberNo + '---' + item.distance + "</div>");

                                     });
                                     isLoading = false;
                                     $('#loading').hide();
                                     },
                                 error: await function (err) {
                                     console.log(err)
                                     // 데이터 가져오기 실패
                                     alert("데이터를 가져오는데 실패하였습니다.");
                                     isLoading = false;
                                     $('#loading').hide();
                                 }

                             });



                         }

                     }


            </script>
            <!-- 지도 생성 -->
            <script>
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                    mapOption = {
                        center: new kakao.maps.LatLng(37.4398411, 126.6640894), // 지도의 중심좌표 geo로 값을 변경해주자
                        level: 3 // 지도의 확대 레벨
                    };
                // 지도를 생성한다
                var map = new kakao.maps.Map(mapContainer, mapOption);
                map.setMinLevel(3);
                map.setMaxLevel(6);
            </script>
           <!-- 동네좌표 생성 및 이벤트 함수들-->
            <script>
                // 다각형에 마우스오버 이벤트가 발생했을 때 변경할 채우기 옵션입니다
                var town_mouseoverOption = {
                    fillColor: '#02eccd', // 채우기 색깔입니다
                    fillOpacity: 0.4 // 채우기 불투명도 입니다
                };
                // 다각형에 마우스아웃 이벤트가 발생했을 때 변경할 채우기 옵션입니다
                var town_mouseoutOption = {
                    fillColor: '#02eccd', // 채우기 색깔입니다
                    fillOpacity: 0.7 // 채우기 불투명도 입니다
                };
                 function updatetown() {
                    $.get("/api/v1/puching/townlist",async function (data) {
                        var circles = await data.map(function (i, position) {
                            var circle = new kakao.maps.Circle({
                                map: map, // 원을 표시할 지도 객체
                                center: new kakao.maps.LatLng(i.townLatitude, i.townLongitude), // 지도의 중심 좌표
                                radius: 100, // 원의 반지름 (단위 : m)
                                fillColor: '#02eccd', // 채움 색
                                fillOpacity: 0.7, // 채움 불투명도
                                strokeWeight: 3, // 선의 두께
                                strokeColor: '#a6e3e3', // 선 색
                                strokeOpacity: 0.9, // 선 투명도
                                strokeStyle: 'solid' // 선 스타일
                            });
                            var infowindow = new kakao.maps.InfoWindow({
                                map: map,
                                position: new kakao.maps.LatLng(i.townLatitude, i.townLongitude),
                                content: i.townDong + '^_^' + i.townCnt + '명'
                            });


                            // 원클릭시 리스트 초기화 및 조건에 맞는 리스트 출력
                            kakao.maps.event.addListener(circle, 'click', function () {
                                var circlecenter = circle.getPosition();
                                var Ma = roundLatlong(circlecenter.Ma, 7);
                                var La = roundLatlong(circlecenter.La, 7);
                                console.log('원을 클릭했습니다');
                                console.log(Ma, La);
                                map.panTo(new kakao.maps.LatLng(Ma, La));
                                $('#itemList').empty();
                                pageNum=1;
                                loadItems(pageNum,pageSize,Ma,La);
                            });

                            // 마커에 mouseover 이벤트를 등록한다
                            kakao.maps.event.addListener(circle, 'mouseover', function () {
                                circle.setOptions(town_mouseoverOption);
                                // console.log('원에 mouseover 이벤트가 발생했습니다!');
                            });

                            // 마커에 mouseout 이벤트 등록
                            kakao.maps.event.addListener(circle, 'mouseout', function () {
                                circle.setOptions(town_mouseoutOption);
                                // console.log('원에 mouseout 이벤트가 발생했습니다!');
                            });
                            return circle;
                        })


                    })
                }
                // 지도 확대 레벨 변화 이벤트를 등록한다
                kakao.maps.event.addListener(map, 'zoom_changed', function () {
                    console.log('지도의 현재 확대레벨은 ' + map.getLevel() + '레벨 입니다.');

                });
                // 드러그 앤드 이벤트 발생시 리스트 초기화하고 중앙 좌표에서 가까운 사람을 리스트로 출력
                kakao.maps.event.addListener(map, 'dragend', function() {
                    var center=map.getCenter();
                    var now_Centerlag=roundLatlong(center.Ma,7);
                    var now_Centerlng=roundLatlong(center.La,7);
                    console.log(now_Centerlag,now_Centerlng)
                    $('#itemList').empty();
                    pageNum=1;
                    loadItems(pageNum,pageSize,now_Centerlag,now_Centerlng);
                    console.log('지도의 중심 좌표는 ' + map.getCenter() + ' 입니다.');
                });

            </script>
            <!--좌표 주소로 변환 함수 및 객체-->
            <script>
                var geocoder = new kakao.maps.services.Geocoder();




                kakao.maps.event.addListener(map, 'idle', function() {
                    console.log("2123123")
                    searchAddrFromCoords(map.getCenter(), displayCenterInfo);
                });

                function searchAddrFromCoords(coords, callback) {
                    // 좌표로 행정동 주소 정보를 요청합니다
                    geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
                }

                function displayCenterInfo(result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        var infoDiv = document.getElementById('centerAddr');

                        for(var i = 0; i < result.length; i++) {
                            // 행정동의 region_type 값은 'H' 이므로
                            if (result[i].region_type === 'H') {
                                infoDiv.innerHTML = result[i].address_name;
                                break;
                            }
                        }
                    }
                }
            </script>

            <!--document ready-->
            <script>
                $(document).ready(async function(){
                    await updatetown();
                    var center=map.getCenter();
                    var now_Centerlag=roundLatlong(center.Ma,7);
                    var now_Centerlng=roundLatlong(center.La,7);

                   await loadItems(pageNum,pageSize,now_Centerlag,now_Centerlng); //
                    await  searchAddrFromCoords(center, displayCenterInfo);

                });

            </script>

        </section>
    </main>
    <footer id="footer" th:replace="~{/fragment/footer.html}">
    </footer>
</div>


</body>
</html>
