<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>퍼칭 메인화면</title>
    <link rel="stylesheet" href="/main.css">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=660792846d96851836832221cf48b4f7"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<!--    <script>-->
<!--        $(document).ready(function () {-->
<!--            var map = new kakao.maps.Map(document.getElementById('map'), { // 지도를 표시할 div-->
<!--                center: new kakao.maps.LatLng(37.4398411, 126.6640894), // 지도의 중심좌표-->
<!--                level: 7 // 지도의 확대 레벨-->
<!--            });-->
<!--            -->
<!--            $.get("/api/v1/puching/townlist", function (data) {-->
<!--                // 데이터에서 좌표 값을 가지고 마커를 표시합니다-->
<!--                // 마커 클러스터러로 관리할 마커 객체는 생성할 때 지도 객체를 설정하지 않습니다-->
<!--                var markers = data.map(function (i, position) {-->
<!--                    return new kakao.maps.Marker({-->
<!--                        map:map,-->
<!--                        position: new kakao.maps.LatLng(i.townLatitude, i.townLongitude),-->
<!--                        title : i.townDong+i.townCnt-->
<!--                    });-->

<!--                });-->
<!--                -->
<!--                -->
<!--            });-->
<!--        })-->
<!--    </script>-->

</head>
<body>


<div id="page">
    <header id="header" th:replace="~{/fragment/header.html}">
    </header>
    <nav id="nav" th:replace="~{/fragment/nav.html}">
    </nav>
    <main>
        <aside id="aside" th:replace="~{/fragment/aside.html}">
        </aside>
        <section id="section">
            <div id="map" style="width:400px;height:400px; float:left;"></div>

            <script>
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                    mapOption = {
                        center: new kakao.maps.LatLng(37.4398411, 126.6640894), // 지도의 중심좌표
                        level: 3 // 지도의 확대 레벨
                    };
                // 지도를 생성한다
                var map = new kakao.maps.Map(mapContainer, mapOption);
            </script>
            <script>
                var gettowndata= $.get("/api/v1/puching/townlist",function (data) {

                    var circles = data.map(function (i, position) {
                        var circle = new kakao.maps.Circle({
                            map: map, // 원을 표시할 지도 객체
                            center: new kakao.maps.LatLng(i.townLatitude, i.townLongitude), // 지도의 중심 좌표
                            radius: 100, // 원의 반지름 (단위 : m)
                            fillColor: '#FF0000', // 채움 색
                            fillOpacity: 0.5, // 채움 불투명도
                            strokeWeight: 3, // 선의 두께
                            strokeColor: '#FF0000', // 선 색
                            strokeOpacity: 0.9, // 선 투명도
                            strokeStyle: 'solid' // 선 스타일
                        });
                    })
                    // 지도 중심 좌표 변화 이벤트를 등록한다
                    kakao.maps.event.addListener(map, 'center_changed', function () {
                        console.log('지도의 중심 좌표는 ' + map.getCenter().toString() + ' 입니다.');
                    });

                    // 지도 확대 레벨 변화 이벤트를 등록한다
                    kakao.maps.event.addListener(map, 'zoom_changed', function () {
                        console.log('지도의 현재 확대레벨은 ' + map.getLevel() + '레벨 입니다.');
                    });

                    // 지도 클릭 이벤트를 등록한다 (좌클릭 : click, 우클릭 : rightclick, 더블클릭 : dblclick)
                    kakao.maps.event.addListener(map, 'click', function (mouseEvent) {
                        console.log('지도에서 클릭한 위치의 좌표는 ' + mouseEvent.latLng.toString() + ' 입니다.');
                    });

                    // 마커에 클릭 이벤트를 등록한다 (우클릭 : rightclick)
                    kakao.maps.event.addListener(circles, 'click', function () {
                        alert('마커를 클릭했습니다!');
                    });

                    // 마커에 mouseover 이벤트를 등록한다
                    kakao.maps.event.addListener(circle, 'mouseover', function () {
                        console.log('마커에 mouseover 이벤트가 발생했습니다!');
                    });

                    // 마커에 mouseout 이벤트 등록
                    kakao.maps.event.addListener(circle, 'mouseout', function () {
                        console.log('마커에 mouseout 이벤트가 발생했습니다!');
                    })
                })


            </script>


        </section>
    </main>
    <footer id="footer" th:replace="~{/fragment/footer.html}">
    </footer>
</div>


</body>
</html>
