<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>퍼칭 소개글</title>
<link rel="stylesheet" href="/css/puchingintroduce.css">

</head>
<body>
<section th:fragment="puching_section">
    <div class="page-div">
            <h1 class="header_button_ui">NaMohaGae!</h1>
        <div id="body">
    <a href="puching__main.html#main" class="skip-link">Skip to main content</a>
    <div class="header_area">
        <div class="container">
            <a href="#" class="link-github"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
          <path d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"></path>
        </svg>
      </span>
                Welcome Puching</a>
        </div>
    </div>
    <div class="nav_bar">
        <ul>
            <li><a href="#about">About Puching</a></li>
            <li><a href="#guidelines">PuchingMap</a></li>
            <li><a href="#contribute">Chat</a></li>
            <li><a href="#files">How to Puching</a></li>
        </ul>
    </div>

    <div id="main" tabIndex="-1">
        <div class="container">
            <article id="about">
                <div class="container">
                    <blockquote>
                        <p>
                            <strong>About Puching</strong>
                            함께 산책하고 싶은 사람을 찾고 싶으신 분들을 위한 매칭 시스템입니다. </p>
                        <p>주변에서 산책할 사람들을 찾아 보세요!  </p>

                    </blockquote>
                </div>
                <div class="container">
                    <h2>퍼칭을 하기 위해 강아지를 등록 해 주세요!</h2>
                    <p>
                        강아지를 등록하셔야 매칭이 가능합니다!
                    </p>
                    <p>
                        퍼칭은 다음과 같은 파트로 이루어져 있습니다.
                    </p>
                    <ul>
                        <li>퍼칭지도</li>
                        <li>채팅</li>
                        <li>퍼칭신청</li>
                        <li>리뷰작성</li>
                    </ul>
                </div>
            </article>
            <article id="guidelines">
                <div class="container">
                    <h2>Puching Map</h2>
                    <p>
                        퍼칭 지도에서 주변 유저들을 볼 수 있습니다. 상대 프로필을 통해 채팅을 시작하시고 매칭까지 시도할 수 있습니다
                        <a href="/puching/main">지도 보러가기</a>.
                    </p>
                    <h3>주의사항</h3>
                    <p>
                        지도 상에는 유저의 실제 주거지를 표시하지 않습니다.
                        맵상에는 동네와 동네에 있는 유저의 수가 표시 됩니다.
                        채팅을 통해 실제로 만남이 이루어질 장소를 선택하실 수 있습니다.

                    </p>
                </div>
            </article>
            <article id="contribute">
                <div class="container">
                    <h2>Chat</h2>
                    <p>채팅기능을 통해 실시간으로 소통하실 수 있습니다!</p>
                    <p>
                        퍼칭 목적이 아니더라도 채팅을 통해 소통하실 수 있습니다!
                    </p>
                    <p>원하는 상대를 찾기위해 소통하세요!
                        <a href="/puching/chatroom">채팅방으로 이동</a>.
                    </p>
                </div>

                <div id="files">
                    <div class="container">
                        <h3>How to Puching</h3>
                    </div>
                    <h3>Steps to Puching</h3>
                    <ol>
                        <li>
                            퍼칭 지도를 통해 원하는 상대를 찾습니다.
                        </li>
                        <li>
                            찾은 상대에게 채팅을 통해 퍼칭신청을 거세요!
                        </li>
                        <li>
                            상대방이 수락한다면 신청할 때의 장소와 시간에 매칭이 잡힙니다!
                        </li>
                        <li>
                            매칭시간이 지나면 서로에게 리뷰를 작성해주세요! 작성자에게는 뼈다귀 포인트, 수신자에게는 등급이 주어집니다!
                        </li>
                    </ol>
                </div>
            </article>
        </div>
    </div>
    <div class="aside" id="styles">
        <div class="container">
            <h2>리뷰 혜택</h2>
            <ul>
                <li>리뷰 작성으로 얻은 뼈다귀 포인트는 뼈다귀몰에서 상품구매시 할인혜택이 주어집니다</li>
                <li>리뷰를 받으신분은 등급이 올라갑니다! 높은 등급을 받을 수록 퍼칭 신청을 많이 받거나 신청할 때 유리합니다</li>
            </ul>
        </div>
    </div>
    <div class="page-footer">
        <div class="container">
            <p>
                Created by HyeonUk Kim
            </p>
        </div>
    </div>

        </div>
</div>
</section>
</body>
</html>