<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>퍼칭 리뷰 작성페이지</title>
    <style>
        .page{
            width: 800px;
            height: 800px;
            background-color: #ea986b;
        }
    </style>
</head>
<body>
<header th:replace="~{/fragment/header.html}"> </header>
<main>
  <aside th:replace="~{/fragment/aside.html}">
  </aside>
  <section>
<div class="page">
    <label for="day"></label>
    <input type="date" id="day"/>
    <label for="time"></label>
    <input type="time" id="time"/>

    <label for="detailaddress"></label>
    <input type="text" placeholder="지번주소검색">
    <input type="text" placeholder="상세주소를 입력해주세요" id="detailaddress">
    <button>현재위치로 검색</button>


</div>
  </section>
</main>
<footer th:replace="~{/fragment/footer.html}">
</footer>
</body>
</html>