<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>퍼칭 리뷰 작성페이지</title>
    <style>
        .page{
            width: 800px;
            height: 800px;
            background-color: #ea986b;
        }
    </style>
</head>
<body>
<header th:replace="~{/fragment/header.html}"> </header>
<main>
  <aside th:replace="~{/fragment/aside.html}">
  </aside>
  <section>

<script>



</script>



  </section>
</main>
<footer th:replace="~{/fragment/footer.html}">
</footer>
</body>
</html>