<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->
    <link href="/css/board.css" rel="stylesheet">
    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>지식인 게시판 읽기 페이지</title>
    <script th:inline="javascript">
        const question = [[${question}]];
        const memberNo = [[${memberNo}]];
        const questionPoint = question.knowledgeQuestionPoint;
        const isWriter = memberNo===question.memberNo;
    </script>
    <style>
        /*.answer {
            width:90%;
            box-shadow: 0px 15px 5px -2px #CCCCCC;
            border-radius: 0.5rem;
            margin:0 auto;
            margin-top:30px;
        }
        css 미완성 아직하는중
         */
    </style>
</head>
<script>

    function printKnowledgeAnswer(){
        const $questionNo = $('#question_no').val();
        console.log(typeof  $questionNo);
        $.ajax({
            url:'/api/v1/knowledge/answer/list?questionNo='+$questionNo,
            type:'get',
            success(result){
                console.log(result);
                if(result.length>0){
                const $answer_select = $('#answer_select');
                const $answers = $('#answers').empty();
                let isSelected = false;
                    for (const answer of result) {
                        const $button = $(`<button type="button" data-no="${answer.knowledgeAnswerNo}" class="btn btn-primary select">채택 하기</button>`);
                        // 내 추천 여부 확인 안했고
                        const tpl = `
                            <div class="answer" style="text-align: left">
                                <img src="${answer.memberProfileImage}" width="40px" height="40px">
                                <span class="username">${answer.memberNickname}</span> |
                                <i class="fa-regular fa-thumbs-up fa-lg recommend" data-no="${answer.knowledgeAnswerNo}"></i> <span >${answer.knowledgeAnswerRecommend}</span> |
                                <i class="fa-regular fa-calendar fa-lg"></i>  <span>${answer.knowledgeAnswerWriteDate}</span>
                                <span class="select_area">${(isWriter&&!isSelected&&!answer.knowledgeAnswerSelectionEnabled) ? "|"+$button[0].outerHTML : ''}</span>
                            </div>
                            <div >
                                <div>${answer.knowledgeAnswerContent}</div>
                            </div>
                        `;
                        if(answer.knowledgeAnswerSelectionEnabled===true){
                            $answer_select.empty().append(tpl);
                            isSelected = answer.knowledgeAnswerSelectionEnabled;
                        }else {
                            $answers.append(tpl);
                        }
                    }

                }else if (isWriter){
                    $('#deleteQuestion').removeClass('hide');

                }
            },
            error(error){
                console.log(error);
            }
        })
    }

    $(document).ready(function (){
        printKnowledgeAnswer();
        if(isWriter){
            $('#textbox_layout').addClass('hide');
        }
        $('#answers').on('click', '.select', async function (){
            const $memberNickname = $(this).parent().parent().find('.username').text();
            const $answerNo = $(this).data('no');
            console.log("클릭  "+$answerNo);
            const choice = await Swal.fire({
                title: $memberNickname+' 님의 답변을 채택하시겠습니까?',
                text: "뼈다귀 포인트 "+questionPoint+" 포인트 소모",
                showCancelButton: true,
                confirmButtonText: '답변 채택',
                cancelButtonText: '취소',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
            });
            if(choice.isConfirmed===true){
                await $.ajax({
                    url:'/api/v1/knowledge/answer/select?answerNo='+$answerNo+"&point="+questionPoint+"&_csrf="+$_csrf,
                    type:'post',
                    success(result){
                        alert("채택 완료");
                        printKnowledgeAnswer();
                    },
                    error(error){
                        printKnowledgeAnswer();
                    }
                })
            }else if (choice.dismiss === Swal.DismissReason.cancel) {
                // 취소 버튼이 클릭된 경우 처리할 동작을 작성합니다.
                // 예: 채택 취소 로직 실행
            }

        })

        $('#answer_write').click(async function(){
            const formData = $('#answer_form').serialize();
            await $.ajax({
                url:'/api/v1/knowledge/answer/write',
                type:'post',
                data: formData,
                success(result){
                    printKnowledgeAnswer();
                },
                error(error){
                    Swal.fire('내 답변이 존재합니다', '이미 해당 질문에 답변을 남기셨습니다', 'warning');
                    printKnowledgeAnswer();
                }
            })
        })
        $('#deleteQuestion').click(async function() {
            const $questionNo = $('#question_no').val();
            $('<form>').append($_csrf_input).append($(`<input type="hidden" name="knowledgeQuestionNo" value="${$questionNo}">`)).attr("action","/board/knowledge/question/delete").attr("method","post")
                .appendTo($('body')).submit();
        })
        $(document).on('click', '.recommend', async function (){
            const $answerNo = $(this).data('no');
            await $.ajax({
                url: '/api/v1/knowledge/answer/recommend?answerNo='+$answerNo+'&_csrf='+$_csrf,
                method:'post',
                success(){
                    printKnowledgeAnswer();
                },
                error(error){
                    console.log(error);
                }
            })


        })
    })
</script>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>

        <article id="question">
            <div class="card">
                <div class="card-body">
                    <div class="board_header">
                        <h4 th:text="${question.knowledgeQuestionTitle}" class="card-title">제목입니다.</h4>
                        <img th:src="${question.memberProfileImage}" width="40px" alt="">
                        <a style="color: black; font-size: 1.1em" th:href="@{/member/profile(memberNo=${question.memberNo})}" th:text="${question.memberNickname}"></a>

                        <div class="board_count">
                            <i class="fa-solid fa-eye fa-lg"></i>
                            <span th:text="${question.knowledgeQuestionReadCount}"></span> |
                            <i class="fa-regular fa-calendar fa-lg"></i>
                            <span th:text="${#temporals.format(question.knowledgeQuestionWriteDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </div>
                    </div>
                    <div id="question_body">
                        <div th:text="${question.knowledgeQuestionContent}"></div>
                    </div>
                </div>
            </div>
        </article>
        <div style="text-align: end">
            <button type="button" id="deleteQuestion" class="btn btn-warning hide" th:if="${memberNo==question.memberNo}">삭제</button>
            <a type="button" href="/board/knowledge/list" class="btn btn-primary">목록</a>
        </div>
        <div id="answer_layout">
        <hr>
            <div id="textbox_layout">
            <form action="/api/v1/knowledge/answer/write" method="post" id="answer_form">
                <input type="hidden" id="_csrf" name="_csrf">
                <input type="hidden" id="question_no" name="knowledgeQuestionNo" th:value="${question.knowledgeQuestionNo}">
                <input type="hidden" name="questionMemberNo" th:value="${question.memberNo}">
                <input type="hidden" name="answerMemberNo" th:value="${memberNo}">
                <textarea name="knowledgeAnswerContent" id="answer_content" style="resize: none"></textarea>
                <button type="button" id="answer_write" class="btn btn-primary">답변 작성</button>
            </form>
            </div>

        <article class="answer_list">
            <div id="answer_select">
                채택된 답변이 없습니다
            </div>
        </article>

        <article class="answer_list">
            <div id="answers">
                등록된 답변이 없습니다
            </div>
        </article>
        </div>

    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<style>
    #answer_layout {
        min-height : 300px;
        background: #f4f5f6;

    }
    #answer_content {

        width:100%;
        height: 140px;



    }
    #textbox_layout {
        position:relative;
        margin-top:50px;
        width:100%;
    }
    #answer_write {
        position:absolute;
        right:80px;
        bottom:60px;

    }
    .answer_list {
        min-height:200px;
        margin-top:50px;
        background: white;
        border-top: 2px solid #dfaa8b;
        border-bottom: 2px solid #dfaa8b;
    }
</style>
</html>