<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>어드민 메인</title>
    <script>
        let searchName="";
        async function printList(){
            await $.ajax({
                url:'/api/v1/admin/member/find?searchName='+searchName,
                success : function(data) {
                   const $tbody = $('#tbody').empty();
                    data.forEach(member=>{
                        const tpl = `
                            <tr class="find" data-no="${member.memberNo}">
                                <td> ${member.memberNo} </td>
                                <td>  ${member.townGu} </td>
                                <td>  ${member.townDong} </td>
                                <td>  ${member.memberNickname} </td>
                                <td>  ${member.memberPhone} </td>
                                <td><button value="${member.memberEnabled}" data-no="${member.memberNo}" class="btn ${member.memberEnabled?"btn-warning":"btn-primary"} enabled" type="button">${member.memberEnabled?"비활성화":"활성화"}</button></td>
                            </tr>
                        `;
                        $tbody.append(tpl);
                        }
                    )
                },
                error : function(data) {
                    console.log(data.error);
                }
            })
        }
        $(document).ready(function (){
            printList();

            $('#search_button').click(function() {
               searchName = $('#searchName').val();
                printList();
            })
            $('#tbody').on('click','.find', async function() {
                const memberNo = $(this).data('no');
                console.log(memberNo);
                await $.ajax({
                    url:'/api/v1/admin/member/information?memberNo='+memberNo,
                    success : function(data) {
                        const $profile = $('#profile').empty();
                        let tpl =`
                            <img src="${data.memberProfile}" height="200px">
                        `;
                        $profile.append(tpl);
                        const $information = $('#information').empty();
                        tpl = `
                                <ul>
                                번호:      <span>${data.memberNo}번</span><br>
                                닉네임:    <span>${data.memberNickname}</span><br>
                                이메일:    <span>${data.memberEmail}</span><br>
                                온도:      <span>${data.memberGrade/10}</span><br>
                                포인트:    <span>${data.memberPoint}</span><br>
                                </ul>

                                `;
                        $information.append(tpl);
                    },
                    error : function(data) {
                        console.log(data.error);
                    }
                })
            })
            $('#tbody').on('click','.enabled', async function(data) {
                data.preventDefault();
                const $enabledButton = $(this);
                const isEnabled = $enabledButton.val()==="true";
                const enabled = confirm("현재 회원 상태는 "+(isEnabled?"[활성화]":"[비활성화]")+" 상태 입니다.\n해당 회원을 "+(isEnabled?"[비활성화]":"[활성화]")+" 처리 하시겠습니까?");
                if (enabled){
                    const memberNo=$(this).data('no');
                    await $.ajax({
                            url:'/api/v1/admin/member/disabled?memberNo='+memberNo+"&_csrf="+$_csrf,method:'post',
                            success(result){
                                if (result){
                                    $enabledButton.text("비활성화");
                                    $enabledButton.addClass("btn-warning");
                                    $enabledButton.removeClass("btn-primary");
                                }else{
                                    $enabledButton.text("활성화");
                                    $enabledButton.addClass("btn-primary");
                                    $enabledButton.removeClass("btn-warning");
                                }
                                $enabledButton.val(result);
                            },
                            error(error){
                                console.log(error.message());
                            }
                    })

                }
            })

        });
    </script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section style="display: flex; align-content:space-evenly; flex-direction: column">
        <article id="memberInformation" class="hide" style="display: flex; justify-content: space-evenly; width: 100%; height: 200px; margin: 20px auto;">
            <div id="profile" style="display: inline-block; width: 50%"></div>
            <div id="information" style="display: inline-block; width: 50%"></div>
        </article>
        <article style="width: 100%; overflow-y: auto; height: 350px; margin: 20px auto;">
            <table class="table table-hover">
                <thead></thead>
                <tbody id="tbody"></tbody>
            </table>
        </article>
        <article style="display: flex; justify-content: center">
            <div id="search_form" style="width: auto;  display: flex; justify-content: space-evenly;">
                <input type="text" name="searchName" id="searchName" style="margin-right: 20px">
                <button type="button" class="search btn btn-primary" id="search_button">검색</button>
            </div>
        </article>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>