<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>배송지</title>
    <style>
        table {
            border-collapse: collapse;
        }
        td {
            width: 100px;
            height: 100px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid black;
        }
    </style>
    <script>
        function printAddress(address) {
            $('#tbody').empty();
            const $tbody = $('#tbody');
            address.forEach(a => {
                const tpl = `<tr>
				<td><pre>주소이름       주소          상세주소<br>    ${a.addressName}   ${a.addressAddress}  ${a.addressAddressDetail}</pre></td>
				<td>
				<button type="button" value="${a.addressNo}" id="delete" class="btn btn-primary btn-block">삭제</button>
				<button type="button" value="${a.addressNo}" id="setDefault" class="btn btn-primary btn-block">기본 배송지 설정</button>
				</td>
			</tr>`;
                $tbody.append(tpl);}
            )
        }


        $(document).ready(async function() {
            try {
                const result = await $.ajax("/api/v1/address/list");
                console.log(result);
                printAddress(result);
            } catch (err) {
                console.log(err);
            }

            $(document).on("click", "#delete", async function () {
                const no = $(this).val();
                try {
                    await $.ajax({
                        url: "/api/v1/address/delete?addressNo=" + no+"&_csrf="+$_csrf,
                        type: "POST"
                    });
                    // 읽음 여부를 업데이트한 후의 작업을 수행
                } catch (err) {
                    console.log(err);
                }
                try {
                    const result = await $.ajax("/api/v1/address/list");
                    console.log(result);
                    printAddress(result);
                } catch (err) {
                    console.log(err);
                }
            });

            $(document).on("click", "#setDefault", async function () {
                const no = $(this).val();
                try {
                    await $.ajax({
                        url: "/api/v1/address/default?addressNo=" + no+"&_csrf="+$_csrf,
                        type: "POST"
                    });
                } catch (err) {
                    console.log(err);
                }
            });
        });
    </script>
</head>
<body>
<div id="page">
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/nav :: nav}"></nav>
    <main>
        <aside th:replace="~{fragments/aside :: aside}"></aside>
        <section>
            <table class="table table-hover">
                <tbody id="tbody">
                </tbody>
            </table>
            <button type="button" class="btn btn-primary btn-block" ><a href="/member/mall/address/add" style="color: white;">배송지 추가</a></button>
        </section>
        <aside th:replace="~{fragments/bside :: bside}"></aside>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>