<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>Insert title here</title>
    <style>
        #sample4_postcode {
            width: 82%;
            display:inline-block;
        }
    </style>
    <script>
        function redirect() {
            var previousAddress = document.referrer;
            if (previousAddress !== '') {
                window.location.href = previousAddress;
            } else {
                // Handle the case when the previous address is not available
                // You can redirect to a default page or display an error message
                alert('Previous address not found!');
            }
        }
        $(document).ready(function (){
            $('#addCreate').click(function (){
                const formData = new FormData();

                formData.append('addressName', $('#name').val());
                formData.append('addressPostcode', $('#sample4_postcode').val());
                formData.append('addressAddress', $('#sample4_roadAddress').val());
                formData.append('addressAddressDetail', $('#sample4_detailAddress').val());
                formData.append('_csrf', $_csrf);
                try{
                    $.ajax({
                        url: "/api/v1/member/mall/address/add",
                        method:'post',
                        data: formData,
                        processData:false, 	// urlencoded 자동 변환 옵션
                        contentType:false 	// Multipart-formdata 지정 옵션
                    });
                    setTimeout(function(){
                        redirect();
                    }, 1000);
                }catch(err){
                    alert('신고 불가');
                }
            });
        });
    </script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
            <h2>배송지 추가</h2>
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" id="name" placeholder="배송지 이름" name="addressName">
                </div>
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" id="sample4_postcode" placeholder="우편번호" name="addressPostcode">
                    <input type="button" class="btn btn-outline-primary" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
                </div>
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" id="sample4_roadAddress" placeholder="도로명주소" name="addressAddress">
                </div>
                <input type="text" id="sample4_jibunAddress" placeholder="지번주소" style="display:none;">
                <span id="guide" style="color: #999; display: none"></span>
                <div class="mb-3 mt-3">
                    <input type="text" class="form-control" id="sample4_detailAddress" placeholder="상세주소" name="addressAddressDetail">
                </div>
                <input type="text" id="sample4_extraAddress" placeholder="참고항목" style="display:none;">
                <div class="d-grid">
                    <button id="addCreate" class="btn btn-primary btn-block">추가하기</button>
                </div>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script>
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete : function(data) {
                var roadAddr = data.roadAddress;
                var extraRoadAddr = '';

                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                    extraRoadAddr += data.bname;
                }
                if (data.buildingName !== '' && data.apartment === 'Y') {
                    extraRoadAddr += (extraRoadAddr !== '' ? ', '	+ data.buildingName : data.buildingName);
                }
                if (extraRoadAddr !== '') {
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                if (roadAddr !== '') {
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                if (data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';
                } else if (data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : '		+ expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
</body>
</html>