<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <script>
        function ShowSliderValue(sVal)
        {
            var obValueView = document.getElementById("dogWeight_value");
            obValueView.innerHTML = sVal
        }

        var RangeSlider = function(){
            var range = $('#dogWeight');

            range.on('input', function(){
                ShowSliderValue(this.value);
            });
        };

        function notGenderEnabledCheck(){
            if($("#dogNotGenderEnabled").val()===null){
                $('#dogNotGenderEnabled_msg').text("필수입력입니다").attr("class","fail");
                return false;
            }
        }
        function nameCheck(){
            if($('#dogName').val()===""){
                $('#dogName_msg').text("필수입력입니다").attr("class","fail");
                return false;
            }
        }
        function categoryCheck(){
            if($('#dogCategory').val()===null){
                $('#dogCategory_msg').text("필수입력입니다").attr("class","fail");
            }
        }
        function birthDateCheck(){
            if($('#dogBirthdayDate').val()===null){
                $('#dogBirthDayDate_msg').text("필수입력입니다").attr("class","fail")
            }
        }


        function weightCheck(){
            if($("#dogWeight").val()===null){
                $('#dogWeight_msg').attr("필수입력입니다").attr("class","fail")
                return false;
            }
        }
        function genderCheck(){
            if($('#dogGender').val()===null){
                $('#dogGender_msg').text("필수입력입니다").attr("class","fail")
            }
        }

        $(document).ready(function(){
            fetch('/dogCategory.txt')
                .then(response => response.text())
                .then(data => {
                    const breeds = data.split('\n');
                    const selectElement = document.getElementById('dogCategory');
                    breeds.forEach(breed => {
                        const optionElement = document.createElement('option');
                        optionElement.textContent = breed;
                        optionElement.value = breed;
                        selectElement.appendChild(optionElement);
                    });
                })
                .catch(error => console.error(error));

                RangeSlider();
            $('#dogWeight').change(function (){
                const dogWeight=$('#dogWeight').val();
                $('#dogWeight_value').text(dogWeight+"kg");
            });
            $('#registeration').click(function (){
                const result = birthDateCheck() && weightCheck() && genderCheck() && nameCheck() && notGenderEnabledCheck() &&categoryCheck();
                if(result==false)
                    return false;

                $('#registeration_form').submit();
            });
        })
    </script>

    <title>회원 가입</title>
</head>
<body>
<div id="page">
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/nav :: nav}"></nav>
    <main>
        <aside th:replace="~{fragments/aside :: aside}"></aside>
        <section>
            <h1>회원 가입</h1>
            <form id="registeration_form" method="post" action="/dog/registeration" enctype="multipart/form-data">
                <input type="hidden" id="_csrf" name="_csrf">
                <div class="mb-3 mt-3">
                    <input type="file" name="dogProfile" id="dogProfile" class="form-control">
                </div>
                <div class="mb-3 mt-3">
                    <label for="dogName">강아지 이름:</label>
                    <input type="text" name="dogName" id="dogName" class="form-control" maxlength="10">
                    <span id="dogName_msg"></span>
                </div>
                <div class="mb-3 mt-3">
                    <label for="dogCategory">견종</label>
                    <select id="dogCategory" name="dogCategory">
                    </select>
                    <span id="dogCategory_msg"></span>
                </div>
                <div class="mb-3 mt-3">
                    <label for="dogBirthDayDate">생일</label>
                    <input type="date" name="dogBirthdayDate" id="dogBirthdayDate" class="form-control">
                    <span id="dogBirthDayDate_msg"></span>
                </div>
                <div class="mb-3 mt-3">
                    <label for="dogGender">성별</label>
                    <select id="dogGender" name="dogGender">
                        <option value="0">남자</option>
                        <option value="1">여자</option>
                    </select>
                    <span id="dogGender_msg"></span>
                </div>
                <div class="mb-3 mt-3">
                    <label for="dogIntroduce">강아지 소개:</label>
                    <textarea id="dogIntroduce" name="dogIntroduce"class="form-control"></textarea>
                    <span id="dogIntroduce_msg"></span>
                </div>
                <div class="mb-3 mt-3">
                    <label for="dogNotGenderEnabled">중성화</label>
                    <select id="dogNotGenderEnabled" name="dogNotGenderEnabled">
                        <option value="0">안함</option>
                        <option value="1">완료</option>
                    </select>
                    <span id="dogNotGenderEnabled_msg"></span>
                </div>
                <div class="mb-3 mt-3">
                    <label for="dogWeight">몸무게</label>
                    <input type="range" id="dogWeight" name="dogWeight" min="0.1" max="100" step="0.1" value="0.1">
                    <span id="dogWeight_value">0.1kg</span>
                    <span id="dogWeight_msg"></span>
                </div>
                <div class="mb-3 mt-3 d-grid">
                    <button id="registeration" type="button" class="btn btn-primary btn-block">가입</button>
                </div>
            </form>
        </section>
        <aside th:replace="~{fragments/bside :: bside}"></aside>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>
