<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!------------------------------------------------------------------------------------------------------------------------------>
<!--기본 CND, Script, CSS 내장 삽입-->
<th:block th:replace="~{fragments/head :: head}"></th:block>
<!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

<!------------------------------------------------------------------------------------------------------------------------------>
<title>상품 목록 페이지</title>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .hide{ display: none}
    .product-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 12px;
    }

    .product-card {
        flex: 0 1 calc(25% - 16px);
        margin-right: 24px;
        margin-bottom: 20px;
        border: none;
    }

    .product-contents {
        padding: 8px;
    }

    .product-img {
        width: 200px;
        height: 200px;
    }

    .product-name {
        font-size: 14px;
    }

    .product-price {
        font-size: 14px;
    }

    .product-favorite {
        font-size: 14px;
    }
</style>
<script>
    function updateUrlParams(params) {
        const urlParams = new URLSearchParams(window.location.search);
        for (const [key, value] of Object.entries(params)) {
            urlParams.set(key, value);
        }
        return urlParams.toString();
    }

    function sortProducts(sortBy) {
        const params = {
            sortBy: sortBy,
        };
        const queryString = updateUrlParams(params);
        window.location.href = '/mall/product/list?' + queryString;
    }

    function searchProduct(event) {
        if (event.key === 'Enter' || event.keyCode === 13 || event.target.classList.contains('searchIcon')) {
            const searchInput = document.getElementById('searchInput');
            const searchProduct = searchInput.value;

            const params = {
                searchProduct: searchProduct,
            };
            const queryString = updateUrlParams(params);
            window.location.href = '/mall/product/list?' + queryString;
        }
    }
</script>
<script>
    $(document).ready(function(){
        $('.product-favorite').click(async function(){
           let $productNo = $(this).data('productno');
           console.log(typeof $productNo);
            try{
                const result = await $.ajax({url:'/api/v1/favorite/add?productNo='+$productNo, method:"patch"});
                if(result.favorite){
                    $(this).parent().children().first().removeClass('hide');
                    $(this).parent().children().first().next().addClass('hide');

                } else {
                    $(this).parent().children().first().addClass('hide');
                    $(this).parent().children().first().next().removeClass('hide');
                }
            }catch (err){
                console.log(err)
            }
        })
    })
</script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>

        <div class="search">
            <input id="searchInput" type="text" placeholder="상품명 입력" onkeydown="searchProduct(event)">>
            <span class="searchIcon fa-solid fa-magnifying-glass" onclick="searchProduct(event)"></span>
        </div>

        <div class="product-filter">
            <button class="btn btn-danger mt-3" id="sortByNew" onclick="sortProducts('NewProduct')">최신순</button>
            <button class="btn btn-danger mt-3" id="sortByName" onclick="sortProducts('ProductName')">상품명</button>
            <button class="btn btn-danger mt-3" id="sortByBest" onclick="sortProducts('BestProduct')">인기순</button>
        </div>

        <div class="product-list">
            <div class="product-card" th:each="p:${list.products}">
                <div class="product-img">
                    <a th:href="@{/mall/product/read(productNo=${p.productNo})}">
                        <img th:src="${p.productImage}" width="200px" height="200px" alt="">
                    </a>
                </div>
                <div class="product-contents">
                    <span class="product-name" th:text="${p.productName}"></span>
                    <span class="product-price">
                      <div th:if="${p.productStock == 0}">
                        <span style="color: red">품절</span>
                      </div>
                      <div th:unless="${p.productStock == 0}">
                        <div>
                          <span th:text="${#numbers.formatInteger(p.productPrice,0,'COMMA')}+'원'"></span>
                        </div>
                      </div>
                    </span>
                    <div th:classappend="${p.reviewCount == 0? 'hide':''}">
                        <span class="productGrade">
                            <span><i class="fa-solid fa-star"></i></span>
                            <span th:text="${p.productGrade}"></span>
                            <span th:text="' (' + ${p.reviewCount} + '건)'"></span>
                        </span>
                    </div>
                    <div>
                        <span th:classappend="${p.favoriteEnabled ? '' : 'hide'}" th:data-productNo="${p.productNo}" class="product-favorite">
                           <i class="fa-solid fa-heart fa-xl"></i> 찜하기 취소
                        </span>
                        <span th:classappend="${p.favoriteEnabled ? 'hide' : ''}" th:data-productNo="${p.productNo}" class="product-favorite">
                            <i class="fa-regular fa-heart fa-xl"></i> 찜하기
                        </span>
                    </div>
                </div>
            </div>
            <div id="product"></div>
        </div>

        <ul class="pagination">
            <li th:if="${list.prev>0}" class="page-item">
                <a class="page-link" th:href="@{/mall/product/list(categoryNo=${list.categoryNo},pageNo=list.prev)}">이전으로</a>
            </li>
            <li th:each="num:${#numbers.sequence(list.start, list.end)}" th:classappend="${list.pageNo==num}?'active': ''">
                <a class="page-link" th:text="${num}" th:href="@{/mall/product/list(categoryNo=${list.categoryNo},pageNo=${num})}"></a>
            </li>
            <li th:if="${list.next>0}" class="page-item">
                <a class="page-link" th:href="@{/mall/product/list(categoryNo=${list.categoryNo},pageNo=list.next)}">다음으로</a>
            </li>
        </ul>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>