<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>동네게시판 리스트</title>
</head>
<style>

    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout2 > ul {
        display: flex;
        justify-content: center;
    }

    .layout2 > ul > li {
        margin-top: 50px;
        margin-right: 30px;
        font-size: 25px;

    }
</style>
<script type="text/javascript">
    function printBoard(boardTownListDto) {
        const $tbody = $('#tbody');
        $tbody.empty(); // tbody 비우기

        for (const b of boardTownListDto) {
            const tpl = `<tr>
                     <td>${b.boardNo}</td>
                     <td>${b.townNo}</td>
                     <td><a href="/board/town/read?boardNo=${b.boardNo}">${b.boardTitle}</a></td>
                     <td>${b.memberNickname}</td>
                     <td>${b.boardWriteDate.replace('T', ' ')}</td>
                     <td>${b.boardReadCount}</td>
                    </tr>`;
            $tbody.append(tpl);
        }
    };


    function printTownDong(){
        const $townGu = $('#townGu').val();
        console.log($townGu);
        $.ajax({
            url: `/api/v1/town/find?townGu=${$townGu}`,
            method: 'GET',
            success: function (list) {
                const $townDong = $('#townDong').empty();
                let tpl = ` <option selected disabled>구 선택</option>`;
                $townDong.append(tpl);
                for (const town of list) {
                    tpl = `
                        <option value="${town.townNo}">${town.townDong}</option>
                    `
                    $townDong.append(tpl);
                }

            },
            error: function (xhr, status, error) {
                console.log(xhr, status, error);
            }
        });
    }
    function onSearch() {
        const searchName = $('#searchName').val();
        onChangePage(1, searchName);
    }

    function printSearch(searchName){
        const $layout3 = $('.layout3');
        $layout3.empty();

        let tpl = `<input type="text" name="searchName" id="searchName">
            <button type="submit" onclick="onSearch()">검색</button>`

        $layout3.append(tpl);
    }

    function printPaging(paging) {
        const $layout2 = $('.layout2');
        $layout2.empty();

        const startPage = paging.startPage;
        const endPage = paging.endPage;
        const currentPage = paging.page;
        const maxPage = paging.maxPage;

        let tpl = '<ul>';
        if (currentPage <= 1) {
            tpl += '<li><span>[이전]</span></li>';
        } else {
            tpl += `<li><a href="#" data-page="${currentPage - 1}">[이전]</a></li>`;
        }

        for (let i = startPage; i <= endPage; i++) {
            if (i === currentPage) {
                tpl += `<li><div><span>${i}</span></div></li>`;
            } else {
                tpl += `<li><div><a href="#" data-page="${i}">${i}</a></div></li>`;
            }
        }

        if (currentPage >= maxPage) {
            tpl += '<li><span>[다음]</span></li>';
        } else {
            tpl += `<li><a href="#" data-page="${currentPage + 1}">[다음]</a></li>`;
        }

        tpl += '</ul>';

        $layout2.append(tpl);

        // 페이지 링크 클릭 이벤트 등록
        $layout2.find('a[data-page]').on('click', function (e) {
            e.preventDefault();
            const page = $(this).data('page');
            onChangePage(page);
        });

    }

    function onSuccess(board) {
        const boardTownListDto = board.boardTownListDto;
        console.log('안녕하세요', board);
        printBoard(boardTownListDto);
        const searchName = "";
        printSearch(searchName);
        const paging = board.pageDto;
        printPaging(paging);
    }

    function onError(xhr, status, error) {
        console.log(xhr, status, error);
    }


    // 페이지 변경시 호출되는 함수
    function onChangePage(page,searchName) {
        const townNo = $('select[name="townDong"]').val();

        // townNo 값이 선택되지 않은 경우, 요청하지 않음
        if (!townNo) {
            return;
        }
        let url = `/api/v1/board/town/list?townNo=${townNo}&page=${page}`;
        if (searchName) {
            url += `&searchName=${encodeURIComponent(searchName)}`;
        }
        $.ajax({
            url: url,
            method: 'GET',
            success: onSuccess,
            error: onError
        });
    }

    // select 요소에서 값이 변경될 때마다 호출되는 함수
    function onChangeTownNo() {
        const townNo = $('select[name="townDong"]').val();

        // townNo 값이 선택되지 않은 경우, 요청하지 않음
        if (!townNo) {
            return;
        }

        // 페이지를 1로 초기화하고 API 요청
        onChangePage(1);
    }

    $(document).ready(function () {
        $('#townGu').on('change', function () {
            printTownDong();
        });
        // select 요소 값 변경 이벤트 등록
        $('select[name="townDong"]').on('change', onChangeTownNo);
    });
</script>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
        <h1>동네 게시판</h1>
        <select class="form-select" aria-label="Default select example" id="townGu" name="townGu">
            <option selected disabled>구 선택</option>
            <option value="미추홀구">미추홀구</option>
        </select>
        <select class="form-select" id="townDong" name="townDong">
            <option selected disabled>구 부터 선택해주세요</option>
        </select>
        <article>


            <table class="table table-hover table-striped text-center">
                <thead>
                <tr>
                    <th>글번호</th>
                    <th>동네번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>글쓴시간</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
            <div class="layout2">

            </div>
            <div class="layout3">

            </div>
            <a class="card-link" th:href="@{/board/town/write}">글쓰기</a>
        </article>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>