<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->
    <link rel="stylesheet" href="/css/boardlist.css">
    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>동네게시판</title>
</head>
<style>
    button {
        margin:0 -1px;
    }
</style>
<script>
    let sorting = "";
    let search = "";
    let townNo = 0;
    let pageNo = 1;
    async function printGu() {
        const result = await $.ajax("/api/v1/town/guList");
        const $townGu = $('#townGu');
        result.forEach(r=>{
            const tpl = `
                <option value="${r.townGu}">${r.townGu}</option>
            `;
            $townGu.append(tpl);
        })
    }
    function formatDateAnswer(dateStr) {
        const date = new Date(dateStr);
        const year = date.getFullYear();
        const month = ('0' + (date.getMonth() + 1)).slice(-2);
        const day = ('0' + date.getDate()).slice(-2);
        const hours = ('0' + date.getHours()).slice(-2);
        const minutes = ('0' + date.getMinutes()).slice(-2);
        return `${year}-${month}-${day} ${hours}:${minutes}`;
    }
    function printTown(preview) {
        const $tbody = $('#tbody').empty();
        preview.forEach(n => {
                const writeDate=formatDateAnswer(n.boardWriteDate)
                const tpl = `
                    <tr>
                        <td>${n.boardNo}</td>
                        <td>${n.townDong}</td>
                        <td><a href="/board/town/read?boardNo=${n.boardNo}">${n.boardTitle}</a></td>
                        <td><a href="/member/profile?memberNo=${n.memberNo}">${n.memberNickname}</a></td>
                        <td>${writeDate}</td>
                        <td>${n.boardReadCount}</td>
                        <td>${n.boardRecommendCount}</td>
                    </tr>
                    `;
                $tbody.append(tpl);
            }
        )
    }
    function printPagination({prev, start, end, next, pageNo}) {
        $('#page_ul').empty();
        const $ul = $('#page_ul');
        if(prev>0)
            $ul.append(`<li class='page-item'><a class='page-link' href='#' data-page-no='${prev}'>이전</a></li>`);
        for(let i=start; i<=end; i++) {
            const tpl = `
			<li class='page-item ${pageNo==i? "active":""}'>
				<a class='page-link' href='#' data-page-no='${i}'>${i}</a>
			</li>
		`;
            $ul.append(tpl);
        }
        if(next>0)
            $ul.append(`<li class='page-item'><a class='page-link' href='#' data-page-no='${next}'>다음</a></li>`)
    }
    $(document).ready(async function (){
        const param = new URLSearchParams(location.search);
        pageNo = param.get('pageNo') == null ? 1 : param.get('pageNo');
        await printGu();
        townNo=$townNo;
        try {
            const result = await $.ajax("/api/v1/board/town/list?pageNo="+pageNo+"&townNo="+townNo);
            printTown(result.preview);
            printPagination(result);

            $('.sorting').click( async function(e) {
                e.preventDefault();
                sorting = $(this).val();
                const param = new URLSearchParams(location.search);
                pageNo = param.get('pageNo') == null ? 1 : param.get('pageNo');
                const result = await $.ajax("/api/v1/board/town/list?pageNo=" +pageNo+"&townNo="+townNo+"&sorting="+sorting+"&searchName="+search);
                printTown(result.preview);
                printPagination(result);
            })

            $('.search').click( async function(e) {
                e.preventDefault();
                search = $('#searchName').val();
                const param = new URLSearchParams(location.search);
                pageNo = param.get('pageNo') == null ? 1 : param.get('pageNo');
                const result = await $.ajax("/api/v1/board/town/list?pageNo="+pageNo+"&townNo="+townNo+"&sorting="+sorting+"&searchName="+search);
                printTown(result.preview);
                printPagination(result);
            })

            $('#page_ul').on('click', '.page-link', async function (e) {
                e.preventDefault();
                pageNo = $(this).data('page-no');
                const result = await $.ajax("/api/v1/board/town/list?pageNo="+pageNo+"&townNo="+townNo+"&sorting="+sorting+"&searchName="+search);
                printTown(result.preview);
                printPagination(result);
            });

            $('#townGu').change(async function (){
                const result = await $.ajax("/api/v1/town/find?townGu="+$(this).val());
                const $townDong = $('#townDong').empty().append(`<option selected disabled>동 선택</option>`);
                result.forEach(r=>{
                    console.log(r.townDong);
                    const tpl = `
                            <option value="${r.townNo}">${r.townDong}</option>
                            `;
                    $townDong.append(tpl);
                })
            })
            $('#townDong').change(async function (){
                townNo = $(this).val();
                const result = await $.ajax("/api/v1/board/town/list?pageNo="+pageNo+"&townNo="+townNo+"&sorting="+sorting+"&searchName="+search);
                printTown(result.preview);
                printPagination(result);
            })

        } catch (err) {
            console.log(err);
        }
    });

</script>
<body>
<script th:inline="javascript">
    const $townNo=[[${townNo}]];
    const $townDong=[[${townDong}]];
</script>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
        <h1>동네 게시판</h1>
        <select class="form-select" aria-label="Default select example" id="townGu" name="townGu">
            <option selected disabled>구 선택</option>
        </select>
        <select class="form-select" id="townDong" name="townDong">
            <option selected disabled th:text="${'[나의 동네] '+townDong}" th:value="${townNo}"></option>
        </select>
        <article>


            <table class="table table-hover table-striped text-center">
                <thead>
                <tr>
                    <th>글번호</th>
                    <th>동네</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>글쓴시간</th>
                    <th>조회수</th>
                    <th>추천수</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
            <div id="button_form">
                <button type="button" value="" class="sorting btn btn-primary">최신순</button>
                <button type="button" value="boardReadCount" class="sorting btn btn-primary">조회순</button>
                <button type="button" value="boardRecommendCount" class="sorting btn btn-primary">추천순</button>
                <a class="btn btn-primary" th:href="@{/board/town/write}" id="town_write">글쓰기</a>
            </div>
            <nav aria-label="..." id="page">
                <ul class="pagination" id="page_ul">
                </ul>
            </nav>
            <div id="search_form">
                <input type="text" name="searchName" id="searchName">
                <button type="button" class="search btn btn-primary">검색</button>
            </div>
        </article>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>