<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>동네 게시판 쓰기</title>
</head>
<style>
    .layout{
        width : 500px;
        margin : 0 auto;
        margin-top: 40px;
    } /*layout 하위에 있는 input태그 스타일 설정*/
    .layout input{
        width: 100%;
        box-sizing: border-box;
    }
    .layout textarea{
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }
</style>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
        <h1>메인 페이지</h1>
        <article>
            <div class="layout">
                <form action="/board/town/writepro" method="post">
                    <input type="hidden" id="_csrf" name="_csrf">
                    <span>제목</span>
                    <input name="Title" type="text">
                    <span>내용</span>
                    <select class="form-select" aria-label="Default select example" name="townNo">
                        <option selected>동네를 선택해주세요</option>
                        <option value="1">중의 1·3동</option>
                        <option value="2">중의2동</option>
                        <option value="3">중의4동</option>
                        <option value="4">용현 1·4동</option>
                        <option value="5">용현2동</option>
                        <option value="6">용현3동</option>
                        <option value="7">용현5동</option>
                        <option value="8">도화1동</option>
                        <option value="9">도화2·3동</option>
                        <option value="10">주안1동</option>
                        <option value="11">주안2동</option>
                        <option value="12">주안3동</option>
                        <option value="13">주안4동</option>
                        <option value="14">주안5동</option>
                        <option value="15">주안6동</option>
                        <option value="16">주안7동</option>
                        <option value="17">주안8동</option>
                        <option value="18">학익1동</option>
                        <option value="19">학익2동</option>
                        <option value="20">관교동</option>
                        <option value="21">문학동</option>

                    </select>
                    <textarea name="Content"></textarea>
                    <button type="submit">작성</button>
                </form>
            </div>
        </article>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</body>
</html>