<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>공지사항 게시판 목록 페이지</title>

</head>
<style>

</style>
<body>
<header th:replace="~{/fragment/header.html}"> </header>
<nav th:replace="~{/fragment/nav.html}"></nav>
<main>
    <aside th:replace="~{/fragment/aside.html}"></aside>
    <section>
        <h1>공지사항 게시판 목록 페이지</h1>
        <a href="/admin/notice/write">게시물 쓰기</a>

        <table class="table table-hover table-striped text-center">
            <colgroup>
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <col width="20%">

            </colgroup>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>글쓴시간</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${list}">
                    <td th:text="${board.boardNoticeNo}"></td>
                    <td>
                        <a th:href="@{/admin/notice/read(boardNoticeNo=${board.boardNoticeNo})}" th:text="${board.boardNoticeTitle}">게시물 제목</a>
                    </td>
                    <td th:text="${board.boardNoticeWriter}"></td>
                    <td th:text="${#temporals.format(board.boardNoticeWriteDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${board.boardNoticeReadCount}"></td>

                </tr>
            </tbody>
        </table>
    </section>
    <aside th:replace="~{/fragment/bside.html}"></aside>
</main>
<footer th:replace="~{/fragment/footer.html}"></footer>
</body>
</html>