<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!------------------------------------------------------------------------------------------------------------------------------>
  <!--기본 CND, Script, CSS 내장 삽입-->
  <th:block th:replace="~{fragments/head :: head}"></th:block>
  <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

  <!------------------------------------------------------------------------------------------------------------------------------>
  <title>공지사항 게시판 읽기 페이지</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
  <aside th:replace="~{fragments/aside :: aside}"></aside>
  <section>
    <div class="card">
      <div class="card-body">
        <h5 th:text="${read.boardNoticeTitle}" class="card-title">제목입니다.</h5>
        <h6 th:text="${#temporals.format(read.boardNoticeWriteDate, 'yyyy-MM-dd HH:mm:ss')}" class="card-subtitle mb=2 text-muted"></h6>
        <p th:text="${read.boardNoticeContent}" class="card=text">내용이 들어갈 부분입니다.</p>
        <a class="card-link" th:href="@{/admin/notice/modify(boardNoticeNo=${read.boardNoticeNo})}">수정</a>
        <a class="card-link" th:href="@{/admin/notice/delete(boardNoticeNo=${read.boardNoticeNo})}">삭제</a>
        <button onclick="listFn()">목록</button>


      </div>
    </div>

  </section>
  <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<script>
  const listFn = () => {

    location.href = "/admin/notice/list"
  }
</script>
</html>