<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kro.namohagae.member.dao.AlarmDao">
    <insert id="save" parameterType="alarm">
    insert into ALARM(alarm_no,member_no,alarm_content,alarm_link,alarm_read_enabled) values (#{alarmNo},#{memberNo},#{alarmContent},#{alarmLink},#{alarmReadEnabled})
    </insert>

    <select id="count" resultType="int">
        select count(alarm_no) from alarm where member_no=#{memberNo}
    </select>

    <select id="findAll" resultType="kr.kro.namohagae.member.dto.AlarmDto$FindAll">
        select * from
            (
                select rownum as rnum, a.* from
                    (
                        select
                            alarm_no as alarmNo,alarm_content as alarmContent,alarm_link as alarmLink,alarm_read_enabled as alarmReadEnabled
                        from ALARM where member_no =#{memberNo}
                    ) a
                where rownum&lt;=#{endRownum}
            )
        where rnum&gt;=#{startRownum}
    </select>

    <select id="read" resultType="kr.kro.namohagae.member.dto.AlarmDto$FindAll">
        select
            alarm_no as alarmNo,alarm_content as alarmContent,alarm_link as alarmLink,alarm_read_enabled as alarmReadEnabled
        from ALARM where alarm_no=#{no}
    </select>

    <update id="alarmRead" parameterType="int">
        update alarm set alarm_read_enabled =1 where alarm_no=#{no}
    </update>
</mapper>

