<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kro.namohagae.board.dao.BoardTownDao">



    <insert id="boardTownInsertData" parameterType="kr.kro.namohagae.board.entity.Board">
        INSERT INTO board (
            board_no,
            town_no,
            member_no,
            board_title,
            board_content,
            board_write_date,
            board_read_count,
            board_recommend_count,
            board_enabled
        )
        SELECT
            SEQ_BOARD_NO.NEXTVAL,
            #{townNo},
            m.member_no,
            #{boardTitle},
            #{boardContent},
            sysdate,
            0,
            0,
            0
        FROM
            member m
        WHERE
            m.member_no = #{memberNo}
    </insert>

    <select id="boardTownList" resultType="kr.kro.namohagae.board.dto.BoardTownListDto">
        SELECT b.*, m.member_nickname AS memberNickname
        FROM board b
                 JOIN member m ON b.member_No = m.member_No
        WHERE b.town_no = #{townNo} AND b.board_title LIKE '%' || #{searchName} || '%'
        ORDER BY b.board_No DESC
        OFFSET #{start} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>
    <select id="boardTownRead" resultType="kr.kro.namohagae.board.entity.BoardList">
        SELECT b.*, m.member_nickname AS memberNickname
        FROM board b
                 JOIN member m ON b.member_No = m.member_No
        WHERE board_no = #{boardNo}
    </select>
    <select id="count" resultType="int">
        select count(town_no) from board where town_no <![CDATA[>]]> 0
    </select>
    <update id="townReadCnt">
        update board set board_read_count=board_read_count+1 where board_no = #{boardNo}
    </update>
    <update id="townUpdateData">
        update board set board_title = #{boardTitle} , board_content = #{boardContent} where board_no = #{boardNo}
    </update>
    <delete id="townDeleteData" parameterType="int">
        delete board where board_no = #{boardNo}
    </delete>
</mapper>

