<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kro.namohagae.board.dao.BoardTownDao">



    <insert id="boardTownInsertData" parameterType="kr.kro.namohagae.board.entity.Board">
        INSERT INTO BOARD
        (
            board_no,town_no,member_no,board_title,board_content,board_write_date,board_read_count,board_recommend_count,board_enabled
        )
        VALUES ( SEQ_BOARD_NO.NEXTVAL,#{townNo},1,#{boardTitle},#{boardContent},sysdate,0,0,0
               )
    </insert>

    <select id="boardTownList" resultType="kr.kro.namohagae.board.entity.Board">
        select * from board where town_no = #{townNo}
    </select>
    <select id="count" resultType="int">
        select count(town_no) from board where town_no <![CDATA[>]]> 0
    </select>

</mapper>

