<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kro.namohagae.board.dao.BoardDao">

    <insert id="save" parameterType="kr.kro.namohagae.board.entity.Board">
        INSERT INTO board (board_no,town_no, member_no, board_title, board_content, board_write_date, board_enabled)
        values (BOARD_SEQ_BOARD_NO.NEXTVAL, #{townNo}, #{memberNo}, #{boardTitle}, #{boardContent}, #{boardWriteDate}, 1)
    </insert>

    <select id="preview" resultType="kr.kro.namohagae.board.dto.BoardDto$Preview">
        select BOARD_NO, BOARD.TOWN_NO, T.TOWN_DONG, BOARD.MEMBER_NO, M.MEMBER_NICKNAME, BOARD_TITLE, BOARD_WRITE_DATE,
        (select count(*) from board_comment where BOARD_NO=BOARD.BOARD_NO) as commentCount,
        (select count(MEMBER_NO) from BOARD_INSIGHT where BOARD_NO=BOARD.BOARD_NO) as board_read_count,
        (select count(MEMBER_NO) from BOARD_INSIGHT where BOARD_NO=BOARD.BOARD_NO and BOARD_RECOMMEND_ENABLED=1) as board_recommend_count
        from BOARD join MEMBER M on BOARD.MEMBER_NO = M.MEMBER_NO join TOWN T on board.TOWN_NO = T.TOWN_NO
        where BOARD_ENABLED=1
        <if test="townNo==null">
            and BOARD.TOWN_NO > 0
        </if>
        <if test="townNo!=null and townNo==0">
            and BOARD.TOWN_NO = #{townNo}
        </if>
        <if test="townNo!=null and townNo>0">
            and BOARD.TOWN_NO = #{townNo}
        </if>
        <if test="memberNo!=null">
            and BOARD.MEMBER_NO=#{memberNo}
        </if>
        <if test="searchName!=null">
          and BOARD_TITLE LIKE '%' || #{searchName} || '%'
        </if>
            order by
                <choose>
                <when test="sorting == 'boardReadCount'">board_read_count desc, BOARD_WRITE_DATE</when>
                <when test="sorting == 'boardRecommendCount'">board_recommend_count desc, board_write_date</when>
                <otherwise>board_write_date</otherwise>
                </choose>
                desc
        offset #{start}-1 rows fetch next #{limit} rows only
    </select>

    <select id="countPreview" resultType="Integer">
        select count(*) from BOARD
        where BOARD.TOWN_NO = #{townNo} and BOARD_ENABLED=1
        <if test="memberNo!=null">
            and BOARD.MEMBER_NO=#{memberNo}
        </if>
        <if test="searchName!=null">
            and BOARD_TITLE LIKE '%' || #{searchName} || '%'
        </if>
    </select>

    <select id="readByBoardNo" resultType="kr.kro.namohagae.board.dto.BoardDto$Read">
        select BOARD_NO, BOARD.TOWN_NO, TOWN_DONG, BOARD.MEMBER_NO, M.MEMBER_NICKNAME, #{url}||M.MEMBER_PROFILE_IMAGE as member_profile_image, BOARD_TITLE, BOARD_CONTENT, BOARD_WRITE_DATE,
            (select count(MEMBER_NO) from BOARD_INSIGHT where BOARD_NO=BOARD.BOARD_NO) as board_read_count,
            (select count(MEMBER_NO) from BOARD_INSIGHT where BOARD_NO=BOARD.BOARD_NO and BOARD_RECOMMEND_ENABLED=1) as board_recommend_count
        from BOARD join MEMBER M on BOARD.MEMBER_NO = M.MEMBER_NO join TOWN T on M.TOWN_NO = T.TOWN_NO
        where BOARD.BOARD_NO= #{boardNo} and BOARD_ENABLED=1
    </select>

    <select id="findBoardEnabledByBoardNo" resultType="Boolean">
        select BOARD_ENABLED from BOARD where BOARD_NO=#{boardNo} and ROWNUM=1
    </select>

    <select id="findByBoardNo" resultType="Board" parameterType="int">
        select * from BOARD where BOARD_NO = #{boardNo} and ROWNUM=1
    </select>

    <select id="findMemberNoByBoardNo" resultType="int">
        select MEMBER_NO from BOARD where BOARD_NO = #{boardNo} and ROWNUM=1
    </select>
    <select id="countByMemberNo" resultType="Integer">
        select count(*) from board where member_no=#{memberNo} and BOARD_ENABLED=1
    </select>
    <update id="delete">
        update BOARD set BOARD_ENABLED=0 where BOARD_NO = #{boardNo} and ROWNUM=1
    </update>

    <update id="update">
        update board set board_title = #{boardTitle} , board_content = #{boardContent} where board_no = #{boardNo}
    </update>

</mapper>

