<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kro.namohagae.board.dao.BoardInsightDao">

    <insert id="save">
        insert into  BOARD_INSIGHT values (#{boardNo},#{memberNo},0)
    </insert>

    <select id="existsByBoardNoAndMemberNo" resultType="Boolean">
        select count(*) from BOARD_INSIGHT where BOARD_NO = #{boardNo} and MEMBER_NO = #{memberNo} and ROWNUM=1
    </select>

    <select id="findBoardLikeEnabledByBoardNoAndMemberNo" resultType="Boolean">
        select BOARD_LIKE_ENABLED from BOARD_INSIGHT where BOARD_NO = #{boardNo} and MEMBER_NO = #{memberNo} and ROWNUM=1
    </select>

    <update id="updateBoardLikeEnabled">
        update BOARD_INSIGHT set BOARD_LIKE_ENABLED= decode(BOARD_LIKE_ENABLED,0,1,1,0) where BOARD_NO = #{boardNo} and MEMBER_NO = #{memberNo} and ROWNUM=1
    </update>

</mapper>
