<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kro.namohagae.puchingtest.dao.ChatDao">

    <select id="findAllChatRoom" resultType="kr.kro.namohagae.puchingtest.dto.ChatRoomDto$Read">
       SELECT CHATROOM_RECEIVER_NO,MEMBER_NICKNAME,MEMBER_IMAGE FROM CHATROOM where =#{memberNo}

    </select>

    <insert id="saveMessage">
        INSERT INTO MESSAGE(MESSAGE_NO,MESSAGE_SENDER,MESSAGE_RECEIVER,MESSAGE_CONTENT,MESSAGE_CONTENT_TYPE,MESSAGE_WRITE_DATE)
        VALUES (message_seq_message_no.nextval,#{messageSender},#{messageReceiver},#{messageContent},#{messageContentType},#{messageWriteDate})
    </insert>
    <select id="findAllMessageByReceiverNo" resultType="kr.kro.namohagae.puchingtest.dto.MessageDto$MessageRead">
        select MESSAGE_SENDER as messageSenderNo,MESSAGE_RECEIVER as messageReceiverNo,MESSAGE_CONTENT as messageContent
             ,MESSAGE_CONTENT_TYPE as messageContentType,MESSAGE_WRITE_DATE as messageWriteDate from
            (select *from MESSAGE where (MESSAGE_SENDER=#{senderNo} and MESSAGE_RECEIVER=#{receiverNo}) or (MESSAGE_SENDER=#{receiverNo} and MESSAGE_RECEIVER=#{senderNo})
            order by MESSAGE_NO)
        order by MESSAGE_NO desc

    </select>



</mapper>