<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kro.namohagae.puching.dao.ChatDao">

    <select id="findAllChatRoom" resultType="kr.kro.namohagae.puching.dto.ChatRoomDto$Read">
        select c.CHATROOM_RECEIVER_NO as chatRoomReceiverNo,m.MEMBER_NICKNAME as memberNickName,#{url} || m.MEMBER_PROFILE_IMAGE as memberImage,m.MEMBER_EMAIL as memberEmail
        from CHATROOM c,MEMBER m
        WHERE m.MEMBER_NO=c.CHATROOM_RECEIVER_NO and c.MEMBER_NO=#{memberNo}
    </select>

    <insert id="saveChatRoom">
        INSERT INTO CHATROOM(CHATROOM_NO,MEMBER_NO,CHATROOM_RECEIVER_NO) VALUES (CHATROOM_SEQ_CHATROOM_NO.NEXTVAL,#{senderNo},#{receiverNo})
    </insert>

    <insert id="saveMessage">
        INSERT INTO MESSAGE(MESSAGE_NO,MESSAGE_SENDER,MESSAGE_RECEIVER,MESSAGE_CONTENT,MESSAGE_CONTENT_TYPE,MESSAGE_WRITE_DATE)
        VALUES (message_seq_message_no.nextval,#{messageSender},#{messageReceiver},#{messageContent},#{messageContentType},#{messageWriteDate})
    </insert>
    <select id="findAllMessageByReceiverNo" resultType="kr.kro.namohagae.puching.dto.MessageDto$MessageRead">
        select MESSAGE_SENDER as messageSenderNo,MESSAGE_RECEIVER as messageReceiverNo,MESSAGE_CONTENT as messageContent
             ,MESSAGE_CONTENT_TYPE as messageContentType,MESSAGE_WRITE_DATE as messageWriteDate from
            (select *from MESSAGE where (MESSAGE_SENDER=#{senderNo} and MESSAGE_RECEIVER=#{receiverNo}) or (MESSAGE_SENDER=#{receiverNo} and MESSAGE_RECEIVER=#{senderNo})
            order by MESSAGE_NO)
        order by MESSAGE_NO asc

    </select>
    <select id="existsByChatRoom" resultType="Boolean">
        select count(*) from CHATROOM WHERE ((MEMBER_NO=#{memberNo} and CHATROOM_RECEIVER_NO=#{receiverNo}) or
            (MEMBER_NO=#{receiverNo} and CHATROOM_RECEIVER_NO=#{memberNo})) and rownum=1
    </select>

    <select id="findChatRoom" resultType="kr.kro.namohagae.puching.dto.ChatRoomDto$Read">
        select c.CHATROOM_RECEIVER_NO as chatRoomReceiverNo,m.MEMBER_NICKNAME as memberNickName,#{url} || m.MEMBER_PROFILE_IMAGE as memberImage,m.MEMBER_EMAIL as memberEmail
        from CHATROOM c,MEMBER m
        WHERE m.MEMBER_NO=c.CHATROOM_RECEIVER_NO and c.MEMBER_NO=#{memberNo} and c.CHATROOM_RECEIVER_NO=#{receiverNo}

    </select>

    <select id="findChatRoomByReceiverNo" resultType="kr.kro.namohagae.puching.dto.ChatRoomDto$Read">
        select MEMBER_NO as chatRoomReceiverNo,MEMBER_NICKNAME as memberNickName,#{url} || MEMBER_PROFILE_IMAGE as memberImage,
               MEMBER_EMAIL as memberEmail
         from MEMBER WHERE MEMBER_NO=#{receiverNo}
    </select>

    <insert id="saveImage">
        INSERT INTO MESSAGE(MESSAGE_NO,MESSAGE_SENDER,MESSAGE_RECEIVER,MESSAGE_CONTENT,MESSAGE_CONTENT_TYPE,MESSAGE_WRITE_DATE)
        VALUES (message_seq_message_no.nextval,#{messageSender},#{messageReceiver},#{messageContent},#{messageContentType},#{messageWriteDate})
    </insert>

    <insert id="savePuchingMessage" parameterType="kr.kro.namohagae.puching.entity.Message">
        <selectKey keyProperty="messageNo" resultType="java.lang.Integer" order="BEFORE">
            SELECT message_seq_message_no.NEXTVAl FROM DUAL
        </selectKey>
        INSERT INTO MESSAGE(MESSAGE_NO,MESSAGE_SENDER,MESSAGE_RECEIVER,MESSAGE_CONTENT,MESSAGE_CONTENT_TYPE,MESSAGE_WRITE_DATE)
        VALUES (#{messageNo},#{messageSender},#{messageReceiver},#{messageContent},#{messageContentType},#{messageWriteDate})
    </insert>

    <select id="findPuchingMessageNo" resultType="Integer">
        SELECT MESSAGE_NO FROM MESSAGE WHERE ((MESSAGE_SENDER=#{senderNo} and MESSAGE_RECEIVER=#{receiverNo}) or
            (MESSAGE_SENDER=#{receiverNo} and MESSAGE_RECEIVER=#{senderNo})) and MESSAGE_CONTENT_TYPE=#{contentType}
    </select>

    <update id="updatePuchingMessage">
        update MESSAGE SET MESSAGE_CONTENT=#{content},MESSAGE_CONTENT_TYPE=#{contentType} WHERE MESSAGE_NO=#{messageNo}
    </update>

    <update id="replacePuchingMessage">
        UPDATE MESSAGE SET MESSAGE_CONTENT=REPLACE(MESSAGE_CONTENT,#{removeString},#{addString}) WHERE MESSAGE_NO=#{messageNo}
    </update>


        </mapper>