<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kro.namohagae.board.dao.CommentDao">



    <insert id="commentData" parameterType="kr.kro.namohagae.board.entity.BoardComment">

        INSERT INTO BOARD_COMMENT (
                                   board_no, comment_no, member_no, comment_content, comment_write_date, comment_enabled
        ) VALUES (
            #{boardNo},SEQ_BOARD_COMMENT_NO.NEXTVAL,#{memberNo},#{commentContent},sysdate,0
            )
    </insert>

    <select id="commentList" resultType="kr.kro.namohagae.board.dto.CommentDto$CommentList">
        SELECT bc.member_no,bc.board_no,bc.comment_no, m.member_nickname, bc.comment_content, bc.comment_write_date
        FROM board b
                 JOIN board_comment bc ON b.board_no = bc.board_no
                 JOIN member m ON bc.member_no = m.member_no
        WHERE b.board_no = #{boardNo}
    </select>

    <update id="commentUpdate">
            update board_comment set comment_content = #{commentContent} where comment_no = #{commentNo}
    </update>

    <delete id="commentDelete" parameterType="int">

            delete board_comment where comment_no = #{comment_no}

    </delete>

    <select id="myCommentList" resultType="kr.kro.namohagae.board.dto.CommentDto$MyCommentList">
        select * from
            (
                select rownum as rnum, a.* from
                    (
                       select (select b.board_title from board b where b.board_no=c.board_no) as boardTitle,(select b.town_no from board b where b.board_no=c.board_no) as townNo,board_no,comment_content,comment_write_date from board_comment c where member_no=#{memberNo} and comment_enabled=0
                    ) a
                where rownum&lt;=#{endRowNum}
            )
        where rnum&gt;=#{startRowNum}
    </select>

</mapper>

