<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kro.namohagae.mall.dao.FavoriteDao">
    <!-- 찜 등록 -->
    <insert id="save" parameterType="Integer">
        insert into FAVORITE(favorite_no,member_no,product_no) values(favorite_seq_favorite_no.nextval,#{memberNo},#{productNo})
    </insert>

    <!-- 해당 멤버의 찜리스트 -->
    <select id="findListByMemberNo" resultType="kr.kro.namohagae.mall.dto.FavoriteDto$FavoriteList">
        select * from
        (
        select rownum as rnum, f.* from
        (
            select
            p.product_no,p.product_name, p.product_price,
            'http://localhost:8081/api/v1/image/product?name=' || pi.product_image_filename as product_image
            from FAVORITE f
            join PRODUCT_IMAGE pi on f.product_no=pi.product_no and pi.PRODUCT_IMAGE_NO=1
            join PRODUCT p on f.product_no = p.product_no
            where f.member_no=#{memberNo}
            order by f.product_no desc
        ) f
        where rownum&lt;=#{endRowNum}
        )
        where rnum&gt;=#{startRowNum}
    </select>

    <!-- 해당 멤버의 찜 개수를 조회 -->
    <select id="count" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select count(*) from FAVORITE
        where member_no = #{memberNo}
    </select>

    <!-- 찜 삭제 -->
    <delete id="delete">
        delete from FAVORITE where product_no = #{productNo} and member_no = #{memberNo}
    </delete>

    <!-- 찜 등록 여부 체크 -->
    <select id="existsByMyFavorite" resultType="Boolean">
        select count(*) from FAVORITE where product_no=#{productNo} and member_no=#{memberNo}
    </select>
</mapper>