<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kro.namohagae.board.dao.KnowledgeAnswerDao">
    <insert id="save" keyProperty="knowledgeAnswerNo" parameterType="KnowledgeAnswer">
        <selectKey keyProperty="knowledgeAnswerNo" order="BEFORE" resultType="java.lang.Integer">
            select KNOWLEDGE_ANSWER_SEQ_KNOWLEDGE_ANSWER_NO.nextval from dual
        </selectKey>
        insert into KNOWLEDGE_ANSWER(KNOWLEDGE_QUESTION_NO, KNOWLEDGE_ANSWER_NO, MEMBER_NO, KNOWLEDGE_ANSWER_CONTENT, KNOWLEDGE_ANSWER_WRITE_DATE, KNOWLEDGE_ANSWER_SELECTION_ENABLED, KNOWLEDGE_ANSWER_RECOMMEND)
        VALUES(#{knowledgeQuestionNo},#{knowledgeAnswerNo}, #{memberNo},#{knowledgeAnswerContent}, #{knowledgeAnswerWriteDate}, 0, 0)
    </insert>

    <select id="findAll" resultType="kr.kro.namohagae.board.dto.KnowledgeAnswerDto$Read">
        select knowledge_answer_no, knowledge_answer.member_no, m.member_nickname, knowledge_answer_content,
               knowledge_answer_Write_date, knowledge_answer_selection_enabled, knowledge_answer_recommend
        from knowledge_answer join member m on knowledge_answer.member_no = m.member_no
        where knowledge_question_no = #{questionNo}
        order by KNOWLEDGE_ANSWER_SELECTION_ENABLED desc, KNOWLEDGE_ANSWER_WRITE_DATE
    </select>
    <select id="findByKnowledgeAnswerNo" resultType="kr.kro.namohagae.board.dto.KnowledgeAnswerDto$Point">
        select KQ.KNOWLEDGE_QUESTION_NO, KNOWLEDGE_ANSWER_NO, KQ.MEMBER_NO as knowledge_question_member_no, KA.MEMBER_NO as knowledge_answer_member_no, KNOWLEDGE_QUESTION_POINT
        from KNOWLEDGE_ANSWER KA join KNOWLEDGE_QUESTION KQ on KA.KNOWLEDGE_QUESTION_NO = KQ.KNOWLEDGE_QUESTION_NO
        where KNOWLEDGE_ANSWER_NO=#{answerNo}
    </select>

    <update id="update" parameterType="int">
        update KNOWLEDGE_ANSWER set KNOWLEDGE_ANSWER_SELECTION_ENABLED=1 where KNOWLEDGE_ANSWER_NO = #{answerNo}
    </update>

    <select id="findAllByMemberNo" resultType="kr.kro.namohagae.board.dto.KnowledgeAnswerDto$myAnswerList">
        select * from
            (
                select rownum as rnum, a.* from
                    (
                        select
                            a.knowledge_question_no,q.knowledge_question_title,q.knowledge_question_write_date,a.knowledge_answer_selection_enabled,a.knowledge_answer_write_date,a.knowledge_answer_content
                        from knowledge_answer a
                                 join KNOWLEDGE_QUESTION q  on a.KNOWLEDGE_QUESTION_NO = q.KNOWLEDGE_QUESTION_NO
                        where a.MEMBER_NO=#{memberNo}
                        order by a.knowledge_answer_no desc
                    ) a
                where rownum&lt;=#{endRowNum}
            )
        where rnum&gt;=#{startRowNum}
    </select>
    <select id="countByMemberNo" resultType="Integer">
        select count(*) from knowledge_answer where member_no=#{memberNo}
    </select>

</mapper>