<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kro.namohagae.member.dao.MemberDao">
    <insert id="save" parameterType="Member">
        insert into MEMBER(member_no,town_no,member_email,member_password,memeber_nickname,member_phone,member_introduce)
        values (#{memberNo},#{townNo},#{memberEmail},#{memberPassword},#{memberNickname},#{memberPhone},#{memberIntroduce})
    </insert>
</mapper>