<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kro.namohagae.mall.dao.ProductOrderDetailDao">
    <!-- 주문 상세 저장 -->
    <insert id="save">
        <selectKey keyProperty="productOrderDetailNo" order="BEFORE" resultType="int">
            select product_order_detail_seq_product_order_detail_no.nextval from dual
        </selectKey>
        insert into PRODUCT_ORDER_DETAIL (product_order_detail_no,product_order_no,product_no,product_order_detail_count,product_order_detail_price,product_order_detail_review_enabled)
        values (#{productOrderDetailNo},#{productOrderNo},#{productNo},#{productOrderDetailCount},#{productOrderDetailPrice},1)
    </insert>

    <!-- 내가 쓴 리뷰 -->
    <select id="findByOrderDetailNo" resultType="kr.kro.namohagae.mall.dto.ProductOrderDetailDto$OrderInformation">
        select pod.product_no, p.product_name, 'http://localhost:8081/api/v1/image/product?name=' || pi.product_image_filename as product_image,
               pod.product_order_detail_no, pod.product_order_detail_review_enabled
        from PRODUCT_ORDER_DETAIL pod
                 join product p on pod.product_no = p.product_no
                 join product_image pi on pod.product_no = pi.product_no and pi.PRODUCT_IMAGE_NO=1
        where pod.product_order_detail_no=#{productOrderDetailNo}
    </select>

    <!-- 리뷰 작성 완료 -->
    <update id="updateReview" parameterType="Integer">
        update PRODUCT_ORDER_DETAIL set product_order_detail_review_enabled=0 where product_order_detail_no=#{productOrderDetailNo}
    </update>
</mapper>