<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kro.namohagae.mall.dao.ProductDao">
    <!--상품 정보 저장-->
    <insert id="save">
        <selectKey keyProperty="productNo" order="BEFORE" resultType="int">
            select product_seq_product_no.nextval from dual
        </selectKey>
        insert into PRODUCT(product_no,product_category_no,product_name,product_price,product_stock,product_grade,product_content,product_write_date)
        values(#{productNo},#{productCategoryNo},#{productName},#{productPrice},#{productStock},#{productGrade},#{productContent},#{productWriteDate})
    </insert>

    <!--특정 카테고리의 상품 개수를 조회-->
    <select id="count" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select count(*) from PRODUCT where product_category_no = #{categoryNo}
    </select>

    <!-- 상품 목록 조회 -->
    <select id="findAll" resultType="kr.kro.namohagae.mall.dto.ProductDto$ReadAll">
        select * from
        (
            select rownum as rnum, p.* from
            (
                select p.product_no, p.product_name, p.product_price,
                'http://localhost:8081/api/v1/image/product?name=' || pi.product_image_filename as product_image
                from PRODUCT p left join PRODUCT_IMAGE pi on
                p.product_no=pi.product_no and pi.product_image_no = 1
                <if test="categoryNo!=null"> where p.product_category_no=#{categoryNo}</if>
                order by p.product_no desc
            ) p
            where rownum&lt;=#{endRowNum}
        )
        where rnum&gt;=#{startRowNum}
    </select>

    <!-- 상품 상세 보기 -->
    <select id="findByProductNo" resultType="kr.kro.namohagae.mall.dto.ProductDto$Read">
        select p.product_no, p.product_name, p.product_content, p.product_price, p.product_grade, p.product_stock,
        'http://localhost:8081/api/v1/image/product?name=' || pi.product_image_filename as product_image
        from PRODUCT p left join PRODUCT_IMAGE pi on p.product_no = pi.product_no
        where p.product_no=#{productNo} and rownum=1
    </select>

    <!-- 상품명으로 검색 -->
    <select id="findByProductName" parameterType="String" resultType="Product">
        select * from PRODUCT where product_name like '%'|| #{productName} || '%'
    </select>

    <!-- 필터(최신순) 검색 -->
    <select id="findAllByLatestOrder" resultType="kr.kro.namohagae.mall.dto.ProductDto$ReadAll">
        select * from
        (
            select rownum as rnum, p.* from
            (
                select p.product_no, p.product_name, p.product_price,
                'http://localhost:8081/api/v1/image/product?name=' || pi.product_image_filename as product_image
                from PRODUCT p left join PRODUCT_IMAGE pi on
                p.product_no=pi.product_no and pi.product_image_no = 1
                <if test="categoryNo!=null"> where p.product_category_no=#{categoryNo}</if>
                order by p.product_no desc
            ) p
            where rownum&lt;=#{endRowNum}
        )
        where rnum&gt;=#{startRowNum}
    </select>

    <!-- 필터(판매량) 검색 -->
    <select id="findAllByOrderOfHighSales" resultType="kr.kro.namohagae.mall.dto.ProductDto$ReadAll">
        select * from
        (
            select rownum as rnum, p.* from
            (
                select p.product_no, p.product_name, p.product_price,
                'http://localhost:8081/api/v1/image/product?name=' || pi.product_image_filename as product_image
                from PRODUCT p left join PRODUCT_IMAGE pi on
                p.product_no=pi.product_no and pi.product_image_no = 1
                <if test="categoryNo!=null"> where p.product_category_no=#{categoryNo}</if>
                order by product_stock asc
            ) p
            where rownum&lt;=#{endRowNum}
        )
        where rnum&gt;=#{startRowNum}
    </select>

    <!-- 필터(이름순) 검색 -->
    <select id="findAllByProductName" resultType="kr.kro.namohagae.mall.dto.ProductDto$ReadAll">
        select * from
        (
            select rownum as rnum, p.* from
            (
                select p.product_no, p.product_name, p.product_price,
                'http://localhost:8081/api/v1/image/product?name=' || pi.product_image_filename as product_image
                from PRODUCT p left join PRODUCT_IMAGE pi on
                p.product_no=pi.product_no and pi.product_image_no = 1
                <if test="categoryNo!=null"> where p.product_category_no=#{categoryNo}</if>
                order by product_name asc
            ) p
            where rownum&lt;=#{endRowNum}
        )
        where rnum&gt;=#{startRowNum}
    </select>
</mapper>