<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kro.namohagae.puchingtest.dao.Puchingdao">

    <!--프론트의 좌표값과 5km 이내의 좌표를 가진 유저를 셀렉-->
    <select id="findByUsers" resultType="kr.kro.namohagae.puchingtest.dto.PuchingDto$readUser">
        SELECT * FROM (
        SELECT rownum rnum,m.* FROM
        (
        SELECT m.MEMBER_NO as memberNo, m.MEMBER_NICKNAME as memberNickName, m.MEMBER_LATITUDE as memberLatitude, m.MEMBER_LONGITUDE as memberLongitude,
        distance(m.MEMBER_LATITUDE, m.MEMBER_LONGITUDE, #{latitude},#{longitude}) AS distance
        FROM MEMBER m
        WHERE distance(m.MEMBER_LATITUDE, m.MEMBER_LONGITUDE, #{latitude},#{longitude}) &lt;=5.0
        ORDER BY distance
        ) m
        WHERE ROWNUM &lt;=#{endrownum}
        )
        WHERE RNUM &gt;=#{startrownum}
    </select>
</mapper>