<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kro.namohagae.puching.dao.Puchingdao">
    <select id="findByUsers" resultType="kr.kro.namohagae.puching.dto.PuchingDto$readUser">
        SELECT * FROM (
        SELECT rownum rnum,m.* FROM
        (
        SELECT m.MEMBER_NO as memberNo, m.MEMBER_NICKNAME as memberNickName, m.MEMBER_LATITUDE as memberLatitude, m.MEMBER_LONGITUDE as memberLongitude,
       round(distance(m.MEMBER_LATITUDE, m.MEMBER_LONGITUDE, #{latitude},#{longitude}),1) as distance,#{url} || m.MEMBER_PROFILE_IMAGE as memberImage
        FROM MEMBER m
        WHERE distance(m.MEMBER_LATITUDE, m.MEMBER_LONGITUDE, #{latitude},#{longitude}) &lt;=5.0
        ORDER BY distance
        ) m
        WHERE ROWNUM &lt;=#{endrownum}
        )
        WHERE RNUM &gt;=#{startrownum} and memberNo!=#{memberNo}
    </select>

    <select id="checkPuching" resultType="java.lang.Integer">
        select count(*) from PUCHING p,MESSAGE m where m.message_no=p.message_no and m.message_content_type='puching' and (p.puching_status='신청' or p.puching_status='수락')
        and ((m.message_sender=#{senderNo} and m.message_receiver=#{receiverNo}) or (m.message_sender=#{receiverNo} and m.message_receiver=#{senderNo}))
        and rownum=1
    </select>

    <insert id="savePuching">
        INSERT INTO PUCHING(puching_no,message_no,puching_created_date,puching_status
            ,puching_promise_date,puching_latitude,puching_longitude,puching_apply_date,puching_deadline_date)
            VALUES(puching_seq_puching_no.nextval,#{messageNo},#{puchingCreatedDate},#{puchingStatus},
                #{puchingPromiseDate},#{puchingLatitude},#{puchingLongitude},#{puchingApplyDate},#{puchingDeadlineDate})
    </insert>

    <update id="updatePuchingStatus">
        update PUCHING set PUCHING_STATUS=#{puchingStatus} WHERE MESSAGE_NO=#{messageNo}
    </update>

    <select id="checkWritePuchingReviewBysenderNo" resultType="Integer">
        SELECT count(*) FROM PUCHING p,PUCHING_REVIEW pr WHERE p.PUCHING_NO=pr.PUCHING_NO and p.MESSAGE_NO=#{messageNo}
                                                           and pr.PUCHING_REVIEW_WRITER=#{senderNo}

    </select>
    <select id="checkPuchingStatus" resultType="String">
        SELECT PUCHING_STATUS FROM PUCHING WHERE MESSAGE_NO=#{messageNo}
    </select>

    <select id="findPuchingNoBySenderNoAndReceiverNo" resultType="Integer">
        SELECT PUCHING_NO FROM PUCHING WHERE MESSAGE_NO=
           (SELECT MESSAGE_NO FROM MESSAGE WHERE ((MESSAGE_SENDER=#{senderNo} and MESSAGE_RECEIVER=#{receiverNo}) or (MESSAGE_SENDER=#{receiverNo} and MESSAGE_RECEIVER=#{senderNo})) and MESSAGE_CONTENT_TYPE='puching')
            and PUCHING_STATUS='수락'
    </select>

</mapper>