<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kro.namohagae.global.dao.ReportDao">
    <insert id="save">
        insert into report(report_no,member_no,report_category,report_member_no,report_content,report_date)
        values (report_seq_report_no.nextval,#{memberNo},#{reportCategory},#{reportMemberNo},#{reportContent},sysdate)
    </insert>
    <select id="findAll" resultType="kr.kro.namohagae.global.dto.ReportDto$FindAll">
        select * from
            (
                select rownum as rnum, a.* from
                    (
                        select
                          report_no,member_no,report_member_no,(select member_nickname from member where member_no= r.member_no ) as memberNickname,report_category,(select  member_nickname from member where member_no=r.report_member_no) as reportMemberNickname,report_content,report_date
                        from report r
                    ) a
                where rownum&lt;=#{endRownum}
            )
        where rnum&gt;=#{startRownum}
    </select>
    <select id="findAllByMemberNo" resultType="kr.kro.namohagae.global.dto.ReportDto$FindAll">
        select * from
            (
                select rownum as rnum, a.* from
                    (
                        select
                            report_no,member_no,report_member_no,(select member_nickname from member where member_no= r.member_no ) as memberNickname,report_category,(select  member_nickname from member where member_no=r.report_member_no) as reportMemberNickname,report_content,report_date
                        from report r where member_no=#{memberNo}
                    ) a
                where rownum&lt;=#{endRownum}
            )
        where rnum&gt;=#{startRownum}
    </select>
    <delete id="delete">
        delete from report where report_no=#{reportNo}
    </delete>
    <select id="countReportByMemberNo" resultType="int">
        select count(*) from report where member_no=#{memberNo}
    </select>
    <select id="countAll" resultType="Integer">
        select count(*) from report
    </select>
    <select id="findMemberNoByNickname" resultType="Integer">
        select member_no from report where member_no=(select member_no from member where member_nickname=#{nickname}) and rownum=1
    </select>
</mapper>