<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kro.namohagae.puching.dao.ReviewDao">
    <select id="findContentByReceiverNo" resultType="kr.kro.namohagae.puching.dto.ReviewDto$profile">
        select * from
            (
                select rownum as rnum, r.* from
                    (
                        select
                            (select member_nickname from member where member_no= review.puching_review_writer) reviewWriter,puching_review_content as reviewContent
                        from PUCHING_REVIEW review where puching_review_receiver=#{memberNo}
                    ) r
                where rownum&lt;=#{endRownum}
            )
        where rnum&gt;=#{startRownum}
    </select>
    <select id="findContentByWriterNo" resultType="kr.kro.namohagae.puching.dto.ReviewDto$Information">
        select * from
            (
                select rownum as rnum, r.* from
                    (
                        select
                            puching_review_receiver,(select member_nickname from member where member_no= review.puching_review_receiver) reviewReceiver,puching_review_content as reviewContent
                        from PUCHING_REVIEW review where puching_review_writer = #{memberNo}
                    ) r
                where rownum&lt;=#{endRownum}
            )
        where rnum&gt;=#{startRownum}
    </select>
    <select id="countReceiver" resultType="int">
        select count(puching_review_no) from PUCHING_REVIEW where puching_review_receiver = #{memberNo}
    </select>
    <select id="countWriter" resultType="int">
        select count(puching_review_no) from PUCHING_REVIEW where puching_review_writer = #{memberNo}
    </select>

    <select id="reviewWriteInfo" resultType="kr.kro.namohagae.puching.dto.ReviewDto$writeview">
        select 'http://localhost:8081/api/v1/image/profile?name=' || sm.MEMBER_PROFILE_IMAGE as myImage,'http://localhost:8081/api/v1/image/profile?name=' || rm.MEMBER_PROFILE_IMAGE as receiverImage,sm.MEMBER_NICKNAME as myNickName,rm.MEMBER_NICKNAME as receiverNickName
             ,p.PUCHING_LATITUDE as latitude,p.PUCHING_LONGITUDE as longitude,p.PUCHING_PROMISE_DATE as promiseDate
        from MEMBER sm,MEMBER rm,PUCHING p
        WHERE sm.MEMBER_NO=#{senderNo} and rm.MEMBER_NO=#{receiverNo} and p.PUCHING_NO=#{puchingNo}
    </select>

    <insert id="save">
        INSERT INTO PUCHING_REVIEW
        VALUES(puching_review_seq_puching_review_no.nextval,#{puchingNo},#{puchingReviewWriter},#{puchingReviewReceiver},#{puchingReviewContent},
               #{puchingReviewStar},#{puchingReviewWriteDate})
    </insert>

    <select id="checkCountReviewByPuchingNo" resultType="Integer">
        SELECT count(*) FROM PUCHING_REVIEW WHERE PUCHING_NO=#{puchingNo}
    </select>


    <update id="updateMemberPoint">
        UPDATE MEMBER
        SET MEMBER_POINT = MEMBER_POINT + #{bonePoint}
        WHERE MEMBER_NO = #{senderNo}
    </update>

    <update id="updateMemberGrade">
        UPDATE MEMBER
        SET MEMBER_GRADE = MEMBER_GRADE + #{starPoint}
        WHERE MEMBER_NO = #{receiverNo}
    </update>

    <update id="updatePuchingStatus">
        UPDATE PUCHING
        SET PUCHING_STATUS = '완료'
        WHERE PUCHING_NO = #{puchingNo}
    </update>

    <update id="updateMessageContentType">
        UPDATE MESSAGE
        SET MESSAGE_CONTENT_TYPE = 'text'
        WHERE MESSAGE_NO = (SELECT MESSAGE_NO FROM PUCHING WHERE PUCHING_NO = #{puchingNo})
    </update>
</mapper>