<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kro.namohagae.global.dao.TownDao">
    <select id="findNoByDong" resultType="Integer">
        select town_no from town where town_dong=#{townDong}
    </select>
    <select id="findDong" resultType="kr.kro.namohagae.global.dto.TownDto$Dong">
        select town_dong from town
    </select>
    <select id="findTownDongByGu" resultType="kr.kro.namohagae.global.dto.TownDto$Read">
        select town_no, town_dong from town where town_gu=#{townGu}
    </select>
    <select id="findFuck" resultType="kr.kro.namohagae.global.dto.TownDto$userGuAndDong">
        select m.town_no,t.town_dong,t.town_gu from member m,town t where m.town_no=t.town_no and m.member_no = #{memberNo}
    </select>
    <select id="checkDong" resultType="Boolean">
        select count(*) from town where town_dong=#{townDong}
    </select>
    <select id="findAll" resultType="kr.kro.namohagae.global.dto.TownDto$FindAll">
        select * from
            (
                select rownum as rnum, t.* from
                    (
                        select
                           town_no,town_gu,town_dong from town
                    ) t
                where rownum&lt;=#{endRownum}
            )
        where rnum&gt;=#{startRownum}
    </select>
    <select id="findAllByGu" resultType="kr.kro.namohagae.global.dto.TownDto$FindAll">
        select * from
            (
                select rownum as rnum, t.* from
                    (
                        select
                            town_no,town_gu,town_dong from town where town_gu = #{gu}
                    ) t
                where rownum&lt;=#{endRownum}
            )
        where rnum&gt;=#{startRownum}
    </select>
    <select id="countAll" resultType="Integer">
        select count(*) from town
    </select>
    <select id="countAllByGu" resultType="Integer">
        select count(*) from town where town_gu=#{gu}
    </select>
    <insert id="save">
        insert into town(town_no,town_gu,town_dong,town_latitude,town_longitude) values(TOWN_SEQ_PUCHING_TOWN_NO.nextval,#{townGu},#{townDong},#{townLatitude},#{townLongitude})
    </insert>
    <delete id="delete">
        delete from town where townNo=#{townNo}
    </delete>
</mapper>