<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>알림</title>
    <style>
        #page_ul {
            width: 300px;
            margin: 0 auto;
        }
    </style>
    <script>
        function printBoard(notification) {
            const $tbody = $('#tbody');
            for(const a of notification) {
                const tpl = `<tr>
				<td>${a.alarmNo}</td>
				<td>
					<a href=# id="read" data-no="${a.alarmNo}">${a.alarmContent}</a>
				</td>
				<td>${a.alarmReadEnabled}</td>
			</tr>`;
                $tbody.append(tpl);
            }
        }

        function printPagination({prev, start, end, next, pageno}) {
            const $ul = $('#page_ul');
            if(prev>0)
                $ul.append(`<li class='page-item'><a class='page-link' href='/member/alarm_list?pageno=${prev}'>이전</a></li>`);
            for(let i=start; i<=end; i++) {
                const tpl = `
				<li class='page-item ${pageno==i? "active":""}'>
					<a class='page-link' href='/member/alarm_list?pageno=${i}'>${i}</a>
				</li>
			`;
                $ul.append(tpl);
            }
            if(next>0)
                $ul.append(`<li class='page-item'><a class='page-link' href='/member/alarm_list?pageno=${next}'>다음</a></li>`)
        }

        $(document).ready(async function() {
            const param = new URLSearchParams(location.search);
            const pageno = param.get('pageno') == null ? 1 : param.get('pageno');
            try {
                const result = await $.ajax("/rest/notification/list?pageno=" + pageno);
                console.log(result);
                printBoard(result.notification);
                printPagination(result);
            } catch (err) {
                console.log(err);
            }
            $(document).on("click", "#read", async function () {
                const no = $(this).data("no");
                try {
                    await $.ajax({
                        url: "/rest/notification/read/" + no,
                        type: "PUT"
                    });
                    // 읽음 여부를 업데이트한 후의 작업을 수행
                } catch (err) {
                    console.log(err);
                }
            })
        });
    </script>
</head>
<body>
<div id="page">
    <header th:replace="~{/fragment/header.html}">
    </header>
    <nav th:replace="~{/fragment/nav.html}">
    </nav>
    <main>
        <aside th:replace="~{/fragment/aside.html}">
        </aside>
        <section>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>번호</th><th>제목</th><th>글쓴이</th><th>작성일</th><th>읽기</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
            <ul class="pagination" id="page_ul">
            </ul>
        </section>
    </main>
    <footer th:replace="~{/fragment/footer.html}">
    </footer>
</div>
</body>
</html>