<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>알림</title>
    <style>
        #page_ul {
            width: 300px;
            margin: 0 auto;
        }
    </style>
    <script>
        function printFavorite(follow) {
            const $tbody = $('#tbody');
            follow.forEach((f, i) => {
                const tpl = `<tr>
                <td><button id="follow_btn-${i}" type="button"></button></td>
                <input type="hidden" id="checkfollow-${i}" value="${f.followMemberNo}">
				<td>
					<a href="/member/profile?memberNo=${f.followMemberNo}">${f.memberNickname}</a>
				</td>
				<td>${f.memberGrade}</td>
			</tr>`;
                $tbody.append(tpl);

            }
            )
        }


        function printPagination({prev, start, end, next, pageno}) {
            const $ul = $('#page_ul');
            if(prev>0)
                $ul.append(`<li class='page-item'><a class='page-link' href='/member/puching/follow?pageno=${prev}'>이전</a></li>`);
            for(let i=start; i<=end; i++) {
                const tpl = `
				<li class='page-item ${pageno==i? "active":""}'>
					<a class='page-link' href='/member/puching/follow?pageno=${i}'>${i}</a>
				</li>
			`;
                $ul.append(tpl);
            }
            if(next>0)
                $ul.append(`<li class='page-item'><a class='page-link' href='/member/puching/follow?pageno=${next}'>다음</a></li>`)
        }

        $(document).ready(async function() {
            const param = new URLSearchParams(location.search);
            const pageno = param.get('pageno') == null ? 1 : param.get('pageno');
            try {
                const result = await $.ajax("/api/v1/follow/list?pageno=" + pageno);
                console.log(result);
                printFavorite(result.follow);
                printPagination(result);
            } catch (err) {
                console.log(err);
            }
            $("button[id^='follow_btn-']").each(async function() {
                const index = $(this).attr('id').split('-')[1];
                const followMemberNo = $(`#checkfollow-${index}`).val();
                try {
                    const result = await $.ajax({ url: '/api/v1/follow/check?memberNo=' + followMemberNo, method: "get" });
                    if (result == true) {
                        $(this).text("팔로우 취소");
                    } else {
                        $(this).text("팔로우");
                    }
                } catch (err) {
                    console.log(err);
                }
            });

            $(document).on("click", "button[id^='follow_btn-']", async function () {
                const index = $(this).attr('id').split('-')[1];
                const followMemberNo = $(`#checkfollow-${index}`).val();
                console.log(followMemberNo);
                try{
                    // 추천하면 서버는 새로운 추천수를 리턴한다 -> #good_cnt를 업데이트
                    const result =await $.ajax({url:'/api/v1/member/follow?memberNo='+followMemberNo, method:"patch",});
                    if(result.follow == true){
                        $('#follow_text').text("팔로우취소 ");
                    } else {
                        $('#follow_text').text("팔로우")
                    }
                }catch (err){
                    console.log(err)
                }
                try {
                    const result = await $.ajax({ url: '/api/v1/follow/check?memberNo=' + followMemberNo, method: "get" });
                    if (result == true) {
                        $(this).text("팔로우 취소");
                    } else {
                        $(this).text("팔로우");
                    }
                } catch (err) {
                    console.log(err);
                }
            });
        });
    </script>
</head>
<body>
<div id="page">
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/nav :: nav}"></nav>
    <main>
        <aside th:replace="~{fragments/aside :: aside}"></aside>
        <section>
            <table class="table table-hover">
                <thead>
                <tr>
                   <th>찜</th> <th>사진</th><th>이름</th><th>가격</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
            <ul class="pagination" id="page_ul">
            </ul>
        </section>
        <aside th:replace="~{fragments/bside :: bside}"></aside>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>