<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->
    <script src="/script/validation.js"></script>                                                               <!--validation-->
    <script src="/script/profile.js"></script>                                                                  <!--profile-->
    <!------------------------------------------------------------------------------------------------------------------------------>
    <style >
        .hidden{ display: none;}
    </style>
    <script th:inline="javascript">
        const msg = [[${msg}]];
        if(msg!=null)
            alert(msg);
    </script>
    <script>
    </script>

    <title>회원 가입</title>
</head>
<body>
<div id="page">
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/nav :: nav}"></nav>
    <main>
        <aside th:replace="~{fragments/aside :: aside}"></aside>
        <section>
            <h1>회원 가입</h1>
            <form id="join_form" method="post" action="/member/join">
                <input type="hidden" id="_csrf" name="_csrf">
                <div class="mb-3 mt-3">
                    <label for="memberEmail">이메일:</label>
                    <div>
                    <input type="text" name="memberEmail" id="memberEmail" class="form-control">
                    <button type="button" id="sendEmail" class="btn btn-primary btn-block">인증요청</button>
                    </div>
                    <div id="checkCodeArea" class="hidden">
                    <input type="text" id="code" name="code" class="form-control">
                    <button type="button" id="checkCode" class="btn btn-primary btn-block">인증확인</button>
                    </div>
                    <span id="memberEmail_msg"></span>
                </div>
                <div class="mb-3 mt-3">
                    <label for="memberPassword">비밀번호:</label>
                    <input type="password" name="memberPassword" id="memberPassword" class="form-control">
                    <span id="memberPassword_msg"></span>
                </div>
                <div class="mb-3 mt-3">
                    <label for="memberPassword2">비밀번호 확인:</label>
                    <input type="password" id="memberPassword2" class="form-control">
                    <span id="memberPassword2_msg"></span>
                </div>

                <div class="mb-3 mt-3">
                    <label for="memberNickname">별명:</label>
                    <input type="text" name="memberNickname" id="memberNickname" class="form-control" maxlength="10">
                    <span id="memberNickname_msg"></span>
                </div>
                <div class="mb-3 mt-3">
                    <label for="memberPhone">연락처:</label>
                    <input type="text" name="memberPhone" id="memberPhone" class="form-control" maxlength="13">
                    <span id="memberPhone_msg"></span>
                </div>
                <div class="mb-3 mt-3 d-grid">
                    <button id="join" type="button" disabled="disabled" class="btn btn-primary btn-block">가입</button>
                </div>
                <input id="memberCheckKaKao" name="memberCheckKaKao" value="false" type="hidden">
            </form>
        </section>
        <aside th:replace="~{fragments/bside :: bside}"></aside>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>
