<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>멤버 메인(내정보 페이지)</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
        <h1>멤버 메인(내 정보 페이지)</h1>
        <article><a href="/member/notification">알림함</a></article>
        <article><a href="/member/information">내정보</a></article>
        <article><a href="/member/mall/address">배송지</a></article>
        <article><a href="/member/mall/favorite">찜목록</a></article>
        <article><a href="/member/puching/follow">팔로우 목록</a></article>
        <article><a href="/member/mall/favorite">찜목록</a></article>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>