<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>멤버 메인(내정보 페이지)</title>

</head>
<style>

</style>
<body>
<header th:replace="~{/fragment/header.html}"> </header>

</header>
<main>
    <aside th:replace="~{/fragment/aside.html}">

    </aside>
    <section>
        <h1>멤버 메인(내 정보 페이지)</h1>
        <article><a href="/member/alarm">알림함</a></article>
        <article>2</article>
        <article>3</article>
        <article>4</article>
    </section>
</main>
<footer th:replace="~{/fragment/footer.html}">
</footer>
</body>
</html>