<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>알림</title>
    <style>
        #page_ul {
            width: 300px;
            margin: 0 auto;
        }
    </style>
    <script>
        function printNotification(notification) {
            const $tbody = $('#tbody');
                notification.forEach(a => {
                const tpl = `<tr>
                    <td>${a.notificationNo}</td>
                    <td>
                        <a href="${a.notificationLink}" id="read" data-no="${a.notificationNo}">${a.notificationContent}</a>
                    </td>
                    <td>${a.notificationReadEnabled?'읽음':'안읽음'}</td>
			    </tr>`;
                $tbody.append(tpl);
                }
                )
            }

        function printPagination({prev, start, end, next, pageno}) {
            const $ul = $('#page_ul');
            if(prev>0)
                $ul.append(`<li class='page-item'><a class='page-link' href='/member/notification?pageno=${prev}'>이전</a></li>`);
            for(let i=start; i<=end; i++) {
                const tpl = `
				<li class='page-item ${pageno==i? "active":""}'>
					<a class='page-link' href='/member/notification?pageno=${i}'>${i}</a>
				</li>
			`;
                $ul.append(tpl);
            }
            if(next>0)
                $ul.append(`<li class='page-item'><a class='page-link' href='/member/notification?pageno=${next}'>다음</a></li>`)
        }

        $(document).ready(async function() {
            const param = new URLSearchParams(location.search);
            const pageno = param.get('pageno') == null ? 1 : param.get('pageno');
            try {
                const result = await $.ajax("/api/v1/notification/list?pageno=" + pageno);
                console.log(result.notifications);
                printNotification(result.notifications);
                printPagination(result);
            } catch (err) {
                console.log(err);
            }
            $(document).on("click", "#read", async function () {
                const no = $(this).data("no");
                try {
                    await $.ajax({
                        url: "/api/v1/notification/read?notificationNo=" + no+"&_csrf="+$_csrf,
                        type: "PUT"
                    });
                    // 읽음 여부를 업데이트한 후의 작업을 수행
                } catch (err) {
                    console.log(err);
                }
            })
        });
    </script>
</head>
<body>
<div id="page">
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/nav :: nav}"></nav>
    <main>
        <aside th:replace="~{fragments/aside :: aside}"></aside>
        <section>
            <h1>알림함</h1>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th><th>내용</th><th>확인</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
            <ul class="pagination" id="page_ul">
            </ul>
        </section>
        <aside th:replace="~{fragments/bside :: bside}"></aside>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>