<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!------------------------------------------------------------------------------------------------------------------------------>
  <!--기본 CND, Script, CSS 내장 삽입-->
  <th:block th:replace="~{fragments/head :: head}"></th:block>
  <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->
  <script src="/script/profile.js"></script>
  <!------------------------------------------------------------------------------------------------------------------------------>
  <title>내 정보</title>
  <script>
    function printBoard(review) {
      $('#review').empty();
      const $tbody = $('#review');
      for(const r of review) {
        const tpl = `
				<div>
                <span>작성자: ${r.reviewWriter}</span>
				<br>
                <span>내용: ${r.reviewContent}</span>
				<br>
				<br>
				</div>
			`;
        $tbody.append(tpl);
      }
    }
    function printPagination({prev, start, end, next, pageno}) {
      $('#page_ul').empty();
      const $ul = $('#page_ul');
      if(prev>0)
        $ul.append(`<li class='page-item'><a class='page-link' href='#' data-page-no='${prev}'>이전</a></li>`);
      for(let i=start; i<=end; i++) {
        const tpl = `
			<li class='page-item ${pageno==i? "active":""}'>
				<a class='page-link' href='#' data-page-no='${i}'>${i}</a>
			</li>
		`;
        $ul.append(tpl);
      }
      if(next>0)
        $ul.append(`<li class='page-item'><a class='page-link' href='#' data-page-no='${next}'>다음</a></li>`)
    }

    $(document).ready(async function() {
    let result = undefined;
      const param = new URLSearchParams(location.search);
      const memberNo = param.get('memberNo');
      const pageno = param.get('pageno') == null ? 1 : param.get('pageno');
      try {
        result = await $.ajax("/api/v1/review/list?pageno="+pageno+"&memberNo="+memberNo);
        console.log(result);
        printBoard(result.review);
        printPagination(result);

        // Add a click event listener to the pagination links
        $('#page_ul').on('click', '.page-link', async function (e) {
          e.preventDefault();
          const pageNum = $(this).data('page-no');
          const result = await $.ajax("/api/v1/review/list?pageno=" + pageNum+"&memberNo="+memberNo);
          console.log(result);
          printBoard(result.review);
          printPagination(result);
        });
      }catch (err){
        console.log(err);
      }
      try{
        const result = await $.ajax("/api/v1/follow/check?memberNo="+memberNo);
        if(result == true){
        $('#follow_text').text("팔로우취소 ");
        }else{
          $('#follow_text').text("팔로우 ");
        }
      }catch (err){
        console.log(err)
      }
      $('#follow_btn').on('click',async function(){
        try{
          // 추천하면 서버는 새로운 추천수를 리턴한다 -> #good_cnt를 업데이트
          const result =await $.ajax({url:'/api/v1/member/follow?memberNo='+memberNo+"&_csrf="+$_csrf, method:"patch",});
          if(result.follow == true){
          $('#follow_text').text("팔로우취소 ");
          } else {
          $('#follow_text').text("팔로우")
          }
        }catch (err){
          console.log(err)
          }
      })
    });
  </script>
</head>
<body>
<div id="page">
  <header th:replace="~{fragments/header :: header}"></header>
  <nav th:replace="~{fragments/nav :: nav}"></nav>
  <main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
      <table class ="table table-hover">
        <colgroup>
          <col width="30%">
          <col width="70%">
        </colgroup>
        <tr>
          <td colspan="2">
            <img id="show-profile" th:src="${member.memberProfile}" width="240px">
          </td>
        </tr>
        <tr>
          <td>
            <span th:text="${member.memberNickname}"></span><span>님의 정보   (</span><span th:text="${member.memberGrade}"></span><span>)도</span></td>
        </tr>
        <tr>
          <td>강아지</td>
          <td id="dog"></td>
        </tr>
          <td>자기소개</td>
          <td>
            <label for="introduce">
              <textarea th:text="${member.memberIntroduce}" id="introduce" name="introduce" readonly></textarea>
            </label>
          </td>
        </tr>
      </table>
      <div id="review">

      </div>
              <ul class="pagination" id="page_ul">
            </ul>
      <button type="button" class="btn btn-primary" id="follow_btn" > <span id="follow_text">팔로우</span></button>
      <button id="chat" type="button" class="btn btn-danger"><a th:href="@{/puching/chatroom(receiverEmail=${member.memberEmail})}">채팅하기</a></button>
      <button id="report" type="button" class="btn btn-primary"><a th:href="@{/member/report(memberNo=${member.memberNo})}" target="_blank" style="color: white;">신고하기</a></button>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
  </main>
  <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>