<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!------------------------------------------------------------------------------------------------------------------------------>
  <!--기본 CND, Script, CSS 내장 삽입-->
  <th:block th:replace="~{fragments/head :: head}"></th:block>
  <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->
  <script src="/script/profile.js"></script>
  <!------------------------------------------------------------------------------------------------------------------------------>
  <title>내 정보</title>
  <style>
    .tabs {
      position:relative;
      top:50%;
      left:50%;
      transform:translate(-50%);
      width:90%;
      height:90%;
      background:#f5f5f5;
      padding:20px 30px;
      overflow:hidden;
      border-radius:50px;
      box-shadow:5px 10px 5px #ccc;

    }
    .table{
      position:relative;
    }

    #page_ul {
      width: 300px;
      margin: 0 auto;
      padding:20px 30px;
    }
  </style>
  <script>
    function printBoard(review) {
      $('#review').empty();
      const $tbody = $('#review');
      for(const r of review) {
      const rating =(4+parseInt(r.reviewStar))/2;
      const ReviewStarIcon = '★'.repeat(rating+1) + '☆'.repeat(4 - rating);
        const tpl = `
				<div>
                <span style="padding-right: 10px;">작성자: ${r.reviewWriter}</span><span style="padding-left: 10px;">${ReviewStarIcon}</span>
				<br>
                <span>내용: ${r.reviewContent}</span>
				<br>
				<br>
				</div>
			`;
        $tbody.append(tpl);
      }
    }
    function printPagination({prev, start, end, next, pageno}) {
      $('#page_ul').empty();
      const $ul = $('#page_ul');
      if(prev>0)
        $ul.append(`<li class='page-item'><a class='page-link' href='#' data-page-no='${prev}'>이전</a></li>`);
      for(let i=start; i<=end; i++) {
        const tpl = `
			<li class='page-item ${pageno==i? "active":""}'>
				<a class='page-link' href='#' data-page-no='${i}'>${i}</a>
			</li>
		`;
        $ul.append(tpl);
      }
      if(next>0)
        $ul.append(`<li class='page-item'><a class='page-link' href='#' data-page-no='${next}'>다음</a></li>`)
    }
    function printDogList(dogList) {
      const $tdog = $('#dog');
      console.log(dogList);
      dogList.forEach(d => {
        const tpl = `
            <img id="show-profile" src="${d.dogProfile}" width="100px" height="100px">
             <a href="/member/dog/profile?dogNo=${d.dogNo}">${d.dogName}</a>
        `;
        $tdog.append(tpl);
      });
    }
    $(document).ready(async function() {
      console.log($('#grade').val()+'asdasdasd')
      $('#memberGrade').text($('#grade').val()/10);
    let result = undefined;
      const param = new URLSearchParams(location.search);
      const memberNo = param.get('memberNo');
      const pageno = param.get('pageno') == null ? 1 : param.get('pageno');
      console.log(memberNo);
      try {
        result = await $.ajax("/api/v1/dog/list?profileMemberNo="+memberNo);
        printDogList(result);
      } catch (err) {
        console.log(err)
      }
      try {
        result = await $.ajax("/api/v1/review/list?pageno="+pageno+"&memberNo="+memberNo);
        console.log(result);
        printBoard(result.review);
        printPagination(result);

        // Add a click event listener to the pagination links
        $('#page_ul').on('click', '.page-link', async function (e) {
          e.preventDefault();
          const pageNum = $(this).data('page-no');
          const result = await $.ajax("/api/v1/review/list?pageno=" + pageNum+"&memberNo="+memberNo);
          console.log(result);
          printBoard(result.review);
          printPagination(result);
        });
      }catch (err){
        console.log(err);
      }
      try{
        const result = await $.ajax("/api/v1/follow/check?memberNo="+memberNo);
        if(result == true){
        $('#follow_text').text("팔로우취소 ");
        }else{
          $('#follow_text').text("팔로우 ");
        }
      }catch (err){
        console.log(err)
      }
      $('#follow_btn').on('click',async function(){
        try{
          // 추천하면 서버는 새로운 추천수를 리턴한다 -> #good_cnt를 업데이트
          const result =await $.ajax({url:'/api/v1/member/follow?memberNo='+memberNo+"&_csrf="+$_csrf, method:"patch",});
          if(result.follow == true){
          $('#follow_text').text("팔로우취소 ");
          } else {
          $('#follow_text').text("팔로우")
          }
        }catch (err){
          console.log(err)
          }
      })
    });
  </script>
</head>
<body>
<div id="page">
  <header th:replace="~{fragments/header :: header}"></header>
  <nav th:replace="~{fragments/nav :: nav}"></nav>
  <main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
      <div>

      <table class ="table table-hover">
        <colgroup>
          <col width="30%">
          <col width="70%">
        </colgroup>
        <tr>
          <td colspan="2">
            <img id="show-profile" th:src="${member.memberProfile}" width="240px">
          </td>
        </tr>
        <tr>
          <td>
            <span th:text="${member.memberNickname}"></span><span>님의 정보   (</span><span id="memberGrade"></span><span>)도</span></td>
        </tr>
        <tr>
          <td>강아지</td>
          <td id="dog"></td>
        </tr>
          <td>자기소개</td>
          <td>
            <label for="introduce">
              <textarea th:text="${member.memberIntroduce}" id="introduce" name="introduce" readonly></textarea>
            </label>
          </td>
        </tr>
      </table>
      <div id="review" class="tabs">

      </div>
              <ul class="pagination" id="page_ul">
            </ul>
      <button type="button" class="btn btn-primary" id="follow_btn" > <span id="follow_text">팔로우</span></button>
      <button id="chat" type="button" class="btn btn-danger" style="background-color: #f4984e"><a th:href="@{/puching/chatroom(receiverEmail=${member.memberEmail})}" style="color: white">채팅하기</a></button>
      <button id="report" type="button" class="btn btn-primary"><a th:href="@{/member/report(memberNo=${member.memberNo})}" target="_blank" style="color: white;">신고하기</a></button>
      <input id="grade" type="hidden" th:value="${member.memberGrade}">
      </div>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
  </main>
  <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>