<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <footer style="background-color: lightgray">
  <nav>
   <a style="text-decoration: none" href='https://www.notion.so/dogtype/DOGTYPE-8f42f515d4b64ce7b329e33df661dbdf?pvs=4' target='_blank'>Team Notion</a> |
   <a style="text-decoration: none" href='https://github.com/GeeHwanee/NaMoHaGae' target='_blank'>Github</a> |
   <a style="text-decoration: none" href='/api-docs' target='_blank'>Open Api</a>

  </nav>
  <p>
   <span>NaMoHaGae: Final Project of &lt;!DOGTYPE&gt;</span><br/>
   <span>Contact Us: team.dogtype@gmail.com</span><br/>
   <span>Copyright © &lt;!DOGTYPE&gt;. 2023. All Rights Reserved.</span>
  </p>
 </footer>
</body>
</html>