<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<body>
<header>
	<h1 class="nav_logo">로고
		<div class="border1"></div>
		<div class="border2"></div>
	</h1>

	<nav>
		<ul class="nav_bar">
			<li><a href="/puching/main">퍼칭 메인</a></li>
			<li><a href="/mall/main">몰 메인</a></li>
			<li><a href="/board/main">게시판 메인</a></li>

		</ul>
		<div class="icon">
			<a href="/member/main">내 정보</a>
			<a href="/cart">장바구니</a>
			<a href="#">미정</a>
		</div>
		<div class="border3"></div>
	</nav>
</header>

</body>
</html>