<!DOCTYPE html>
<html  lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<title>Insert title here</title>
	<script>
		$(document).ready(function() {
			$("#logout").click(function() {
				// body.append(form) -> body,  form.appendTo(body) -> form
				$('<form>').attr("action","/logout").attr("method","post")
						.appendTo($('body')).submit();
			})
		})
	</script>
</head>
<body>
<header>
	<h1 class="nav_logo">
		<a href="/">로고(메인)</a>
		<div class="border1"></div>
		<div class="border2"></div>
	</h1>

	<nav>
		<ul class="nav_bar">
			<li><a href="/puching/main">퍼칭 메인</a></li>
			<li><a href="/mall/main">몰 메인</a></li>
			<li><a href="/board/main">게시판 메인</a></li>

		</ul>
		<div class="icon">
			<a href="/login" sec:authorize="isAnonymous()">로그인</a>
			<button type="button" sec:authorize="isAuthenticated()" id="logout">로그아웃</button>
			<a href="/member/main">내 정보</a>
			<a href="/mall/cart">장바구니</a>
			<a href="/puching/chatroom">채팅(퍼칭)</a>
		</div>
		<div class="border3"></div>
	</nav>
</header>

</body>
</html>