<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>자유게시판</title>
    <script>
        let sorting = "";
        let search = "";
        function formatDateAnswer(dateStr) {
            const date = new Date(dateStr);
            const year = date.getFullYear();
            const month = ('0' + (date.getMonth() + 1)).slice(-2);
            const day = ('0' + date.getDate()).slice(-2);
            const hours = ('0' + date.getHours()).slice(-2);
            const minutes = ('0' + date.getMinutes()).slice(-2);
            return `${year}-${month}-${day} ${hours}:${minutes}`;
        }
        function printFree(preview) {
            $('#tbody').empty();
            const $tbody = $('#tbody');
            preview.forEach(n => {
                    const writeDate=formatDateAnswer(n.boardWriteDate)
                    const tpl = `
                    <tr>
                        <td>${n.boardNo}</td>
                        <td><a href="/board/free/read?boardNo=${n.boardNo}">${n.boardTitle}</a></td>
                        <td><a href="/member/profile?memberNo=${n.memberNo}">${n.memberNickname}</a></td>
                        <td>${writeDate}</td>
                        <td>${n.boardReadCount}</td>
                        <td>${n.boardRecommendCount}</td>
                    </tr>
                    `;
                    $tbody.append(tpl);
                }
            )
        }
        function printPagination({prev, start, end, next, pageNo}) {
            $('#page_ul').empty();
            const $ul = $('#page_ul');
            if(prev>0)
                $ul.append(`<li class='page-item'><a class='page-link' href='#' data-page-no='${prev}'>이전</a></li>`);
            for(let i=start; i<=end; i++) {
                const tpl = `
			<li class='page-item ${pageNo==i? "active":""}'>
				<a class='page-link' href='#' data-page-no='${i}'>${i}</a>
			</li>
		`;
                $ul.append(tpl);
            }
            if(next>0)
                $ul.append(`<li class='page-item'><a class='page-link' href='#' data-page-no='${next}'>다음</a></li>`)
        }
        $(document).ready(async function (){
            const param = new URLSearchParams(location.search);
            const pageno = param.get('pageNo') == null ? 1 : param.get('pageNo');
            try {
                const result = await $.ajax("/api/v1/board/free/list?pageNo=" + pageno);
                console.log(result);
                printFree(result.preview);
                printPagination(result);

                $('.sorting').click( async function(e) {
                    e.preventDefault();
                    sorting = $(this).val();
                    const param = new URLSearchParams(location.search);
                    const pageno = param.get('pageNo') == null ? 1 : param.get('pageNo');
                    const result = await $.ajax("/api/v1/board/free/list?pageNo=" + pageno+"&sorting="+sorting+"&searchName="+search);
                    console.log(result);
                    printFree(result.preview);
                    printPagination(result);
                })

                $('.search').click( async function(e) {
                    e.preventDefault();
                    search = $('#searchName').val();
                    const param = new URLSearchParams(location.search);
                    const pageno = param.get('pageNo') == null ? 1 : param.get('pageNo');
                    const result = await $.ajax("/api/v1/board/free/list?pageNo=" + pageno+"&sorting="+sorting+"&searchName="+search);
                    console.log(result);
                    printFree(result.preview);
                    printPagination(result);
                })

                $('#page_ul').on('click', '.page-link', async function (e) {
                    e.preventDefault();
                    const pageNum = $(this).data('page-no');
                    const result = await $.ajax("/api/v1/board/free/list?pageNo="+pageNum+"&sorting="+sorting+"&searchName="+search);
                    console.log(result);
                    printFree(result.preview);
                    printPagination(result);
                });
            } catch (err) {
                console.log(err);
            }



        });
    </script>
</head>
<style>
 #page {
     border:none;
 }
 #search_form {
     text-align: center;
 }

 #button_form {
     display:flex;
     position:relative;
 }
 #town_write {
    position:absolute;
     right:0;
 }
 button {
     margin-right:2px;

 }
 th {
     border-top: 3px solid #dfaa8b;
 }
 .btn-primary {
     background: #dfaa8b;
     font-weight:bold;
     border: none;
 }
 .pagination {
     --bs-pagination-border-color:#c9dc92;
     --bs-pagination-disabled-color:#000000;
     --bs-pagination-border-radius: 0.375rem;

 }
 .page-link {
     color:#000000;
     font-weight:bold;
 }
  .page-link.active {
      background: #dfaa8b;
      border:none;
      font-weight:bold;

}
 #search_box {
     border:3px solid #dfaa8b;

 }
</style>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
        <article>
                <table class="table table-hover table-striped text-center">
                    <thead>
                    <tr>
                        <th>글번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>글쓴시간</th>
                        <th>조회수</th>
                        <th>추천수</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            <div id="button_form">
                <button type="button" value="" class="sorting btn btn-primary">최신순</button>
                <button type="button" value="boardReadCount" class="sorting btn btn-primary">조회순</button>
                <button type="button" value="boardRecommendCount" class="sorting btn btn-primary">추천순</button>
                <a class="btn btn-primary" th:href="@{/board/free/write}" id="town_write">글쓰기</a>
            </div>
            <nav aria-label="..." id="page">
                <ul class="pagination" id="page_ul">
                </ul>
            </nav>
            <div id="search_form">
                <input type="text" name="searchName" id="searchName">
                <button type="button" class="search btn btn-primary">검색</button>
            </div>

        </article>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<script>
    function limitTitleLength() {
        var titleElements = document.getElementsByClassName("boardTitle");
        for (var i = 0; i < titleElements.length; i++) {
            var title = titleElements[i].textContent;
            var maxLength = 5; // 최대 길이 설정
            if (title.length > maxLength) {
                titleElements[i].textContent = title.substring(0, maxLength) + "...";
            }
        }
    }

    // 페이지 로드 시 호출
    window.onload = function() {
        limitTitleLength();
    };
</script>
</html>