<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <link rel="stylesheet" href="/css/boardlist.css">
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>자유게시판</title>
    <script>
        let sorting = "";
        let search = "";
        function formatDateAnswer(dateStr) {
            const date = new Date(dateStr);
            const year = date.getFullYear();
            const month = ('0' + (date.getMonth() + 1)).slice(-2);
            const day = ('0' + date.getDate()).slice(-2);
            const hours = ('0' + date.getHours()).slice(-2);
            const minutes = ('0' + date.getMinutes()).slice(-2);
            return `${year}-${month}-${day} ${hours}:${minutes}`;
        }
        function printFree(preview) {
            const $tbody = $('#tbody');
            $tbody.empty(); // tbody 비우기

            const maxRows = 10; // 최대 행 개수

            const numRows = Math.min(preview.length, maxRows); // 행 개수 결정

            for (let i = 0; i < numRows; i++) {
                const b = preview[i]; // 데이터 배열에서 해당 인덱스의 객체 가져오기

                // 객체의 데이터를 기반으로 행 생성
                const tpl = ` <tr>
                        <td>${b.boardNo}</td>
                        <td><a href="/board/free/read?boardNo=${b.boardNo}" class="boardTitle">${b.boardTitle}</a></td>
                        <td><a href="/member/profile?memberNo=${b.memberNo}">${b.memberNickname}</a></td>
                        <td>${b.boardWriteDate.replace('T', ' ').slice(0, 16)}</td>
                        <td>${b.boardReadCount}</td>
                        <td>${b.boardRecommendCount}</td>
                    </tr>`;

                $tbody.append(tpl); // tbody에 행 추가
            }

            // 남은 행 추가 (빈 행)
            for (let i = numRows; i < maxRows; i++) {
                const tpl = `<tr>
       <td style="height:41px"></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>

      </tr>`;

                $tbody.append(tpl); // tbody에 빈 행 추가
            }
            limitTitleLength();
        }
        function printPagination({prev, start, end, next, pageNo}) {
            $('#page_ul').empty();
            const $ul = $('#page_ul');
            if(prev>0)
                $ul.append(`<li class='page-item'><a class='page-link' href='#' data-page-no='${prev}'>이전</a></li>`);
            for(let i=start; i<=end; i++) {
                const tpl = `
			<li class='page-item ${pageNo==i? "active":""}'>
				<a class='page-link' href='#' data-page-no='${i}'>${i}</a>
			</li>
		`;
                $ul.append(tpl);
            }
            if(next>0)
                $ul.append(`<li class='page-item'><a class='page-link' href='#' data-page-no='${next}'>다음</a></li>`)
        }
        $(document).ready(async function (){
            const param = new URLSearchParams(location.search);
            const pageno = param.get('pageNo') == null ? 1 : param.get('pageNo');
            try {
                const result = await $.ajax("/api/v1/board/free/list?pageNo=" + pageno);
                console.log(result);
                printFree(result.preview);
                printPagination(result);

                $('.sorting').click( async function(e) {
                    e.preventDefault();
                    sorting = $(this).val();
                    const param = new URLSearchParams(location.search);
                    const pageno = param.get('pageNo') == null ? 1 : param.get('pageNo');
                    const result = await $.ajax("/api/v1/board/free/list?pageNo=" + pageno+"&sorting="+sorting+"&searchName="+search);
                    console.log(result);
                    printFree(result.preview);
                    printPagination(result);
                })

                $('.search').click( async function(e) {
                    e.preventDefault();
                    search = $('#searchName').val();
                    const param = new URLSearchParams(location.search);
                    const pageno = param.get('pageNo') == null ? 1 : param.get('pageNo');
                    const result = await $.ajax("/api/v1/board/free/list?pageNo=" + pageno+"&sorting="+sorting+"&searchName="+search);
                    console.log(result);
                    printFree(result.preview);
                    printPagination(result);
                })

                $('#page_ul').on('click', '.page-link', async function (e) {
                    e.preventDefault();
                    const pageNum = $(this).data('page-no');
                    const result = await $.ajax("/api/v1/board/free/list?pageNo="+pageNum+"&sorting="+sorting+"&searchName="+search);
                    console.log(result);
                    printFree(result.preview);
                    printPagination(result);
                });
            } catch (err) {
                console.log(err);
            }



        });
    </script>
</head>
<style>

 button {
     margin-right:2px;

 }

</style>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
        <h1>자유 게시판</h1>
        <article>
                <table class="table table-hover table-striped text-center">
                    <thead>
                    <tr>
                        <th>글번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>글쓴시간</th>
                        <th>조회수</th>
                        <th>추천수</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            <div id="button_form">
                <button type="button" value="" class="sorting btn btn-primary">최신순</button>
                <button type="button" value="boardReadCount" class="sorting btn btn-primary">조회순</button>
                <button type="button" value="boardRecommendCount" class="sorting btn btn-primary">추천순</button>
                <a class="btn btn-primary" th:href="@{/board/free/write}" id="town_write">글쓰기</a>
            </div>
            <nav aria-label="..." id="page">
                <ul class="pagination" id="page_ul">
                </ul>
            </nav>
            <div id="search_form">
                <input type="text" name="searchName" id="searchName">
                <button type="button" class="search btn btn-primary">검색</button>
            </div>

        </article>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<script>
    function limitTitleLength() {
        var titleElements = document.getElementsByClassName("boardTitle");
        for (var i = 0; i < titleElements.length; i++) {
            var title = titleElements[i].textContent;
            var maxLength = 15; // 최대 길이 설정
            if (title.length > maxLength) {
                titleElements[i].textContent = title.substring(0, maxLength) + "...";
            }
        }
    }




</script>
</html>