<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>메인</title>
</head>

<body>
<header th:replace="~{/fragment/header.html}"> </header>

<main>
    <aside th:replace="~{/fragment/aside.html}">
    </aside>
    <section>
        <h1>메인 페이지</h1>
        <article>
            <h1 th:text="${board.boardTitle}">제목입니다.</h1>
            <p th:text="${board.boardContent}">내용이 들어갈 부분입니다.</p>
            <a th:href="@{/board/free/delete(boardNo=${board.boardNo})}">삭제</a>
            <a th:href="@{/board/free/modify(boardNo=${board.boardNo})}">수정</a>
            <button onclick="listFn()">목록</button>
            <!-- 댓글 작성 부분 -->
            <div id="comment-write">
                <input type="text" id="commentContents" placeholder="내용">
                <button id="comment-write-btn" onclick="commentWrite()">댓글작성</button>
            </div>
            <!-- 댓글 출력 부분 -->
            <div id="comment-list">
                <table>
                    <tr>
                        <th>댓글번호</th>
                        <th>내용</th>
                        <th>작성시간</th>
                    </tr>
                    <tr th:each="comment: ${commentList}">
                        <td th:text="${comment.commentNo}"></td>
                        <td th:text="${comment.commentContent}"></td>
                        <td th:text="${comment.commentWriteDate}"></td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
</main>
<footer th:replace="~{/fragment/aside.html}">
</footer>
</body>
<script>
    const commentWrite = () => {
        const contents = document.getElementById("commentContents").value;
        const boardNo = [[${board.boardNo}]];
        $.ajax({
            type: "post",
            url: "/board/free/write",
            data: {
                "commentContent": contents,
                "boardNo": boardNo
            },
            success: function (res) {
                console.log("요청성공", res);
                let output = "<table>";
                output += "<tr><th>댓글번호</th>";
                output += "<th>내용</th>";
                output += "<th>작성시간</th></tr>";
                for (let i in res) {
                    output += "<tr>";
                    output += "<td>" + res[i].commentNo + "</td>";
                    output += "<td>" + res[i].commentContent + "</td>";
                    output += "<td>" + res[i].commentWriteDate + "</td>";
                    output += "</tr>";
                }
                output += "</table>";
                document.getElementById('comment-list').innerHTML = output;
                document.getElementById('commentContents').value = '';
            },
            error: function (err) {
                console.log("요청실패", err);
            }
        });

    }
    const listFn = () => {
        const page =  [[${page}]];
        location.href = "/board/free/list?page=" + page;
    }

</script>
</html>