<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!------------------------------------------------------------------------------------------------------------------------------>
  <!--기본 CND, Script, CSS 내장 삽입-->
  <th:block th:replace="~{fragments/head :: head}"></th:block>
  <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

  <!------------------------------------------------------------------------------------------------------------------------------>
  <title>큐엔에이쓰기</title>
</head>
<style>
  .qnaTitle {
    text-align:center;
  }

  #qnaText {
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
  }

  textarea {
    width: 80%;
    height: 15em;
    resize: none;
    margin-left: 20px;
  }

  .button-group {
    text-align:center;
  }

  #qnaWrite {
    font-weight: bold;
    font-family: 'Gothic', sans-serif;
    text-align: center;
    font-size: 40px;
  }
</style>
<script>
  const productNo = document.getElementById('productNo').value;
</script>
<script>
  $(document).ready(function(){
    $('#write').click(function(){
      $('#add_form').submit();
    });
  })
</script>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
  <aside th:replace="~{fragments/aside :: aside}"></aside>
  <section>
    <hr>
    <div class="qnaTitle">
      <span id="qnaWrite">문의하기</span>
    </div>
    <hr>
    <form id="add_form" action="/mall/product/qna/write" method="post" enctype="multipart/form-data">
      <input type="hidden" id="_csrf" name="_csrf">
      <input type="hidden" id="productNo" name="productNo" th:value="${item.productNo}" />
      <input type="hidden" id="memberNo" name="memberNo" th:value="${writer}" />
      <div id="qnaText">
        <span>내용</span>
        <textarea placeholder="내용을 입력해주세요" id="qnaContent" name="qnaContent"></textarea>
      </div>
      <div class="button-group">
        <button type="submit" id="write" class="btn btn-primary">확인</button>
        <button type="button" id="cancel" class="btn btn-primary"><a th:href="@{/mall/product/read(productNo=${item.productNo})}" style="color: white; text-decoration-line: none">취소</a></button>
      </div>
    </form>
  </section>
  <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>