<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>블락</title>
    <script>
        $(document).ready(function (){
            $('#inputGu').click(async function (){
                $('#townDong').empty();
                $.ajax({
                    url: 'https://dapi.kakao.com/v2/local/search/address.json',
                    type: 'GET',
                    headers: { 'Authorization': 'KakaoAK 3aebe1c5743b1fcc93a6bfb52e8ff445' },
                    data: {
                        query: $('#serchDong').val()
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (data.documents.length > 0) {
                            const addresses = data.documents;
                            const selectElement = document.getElementById('townDong');

                            // Clear existing options
                            // Create and append new options

                            for (let i = 0; i < addresses.length; i++) {
                                if(data.documents[i].address.region_3depth_h_name!=""){
                                const option = document.createElement('option');
                                document.getElementById("townGu").value = data.documents[i].address.region_2depth_name;
                                option.text = data.documents[i].address.region_2depth_name +" "+ data.documents[i].address.region_3depth_h_name;
                                option.value = data.documents[i].address.region_3depth_h_name;
                                selectElement.appendChild(option);
                                }
                            }
                        } else {
                            console.log('No addresses found');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log(error);
                    }
                })
                const result = await $.ajax('/api/v1/admin/town/checkDong?townDong='+$('#townDong').val());
                if(result===false){
                    $('#town').prop('disabled', false);
                }else{
                    $('#town').prop('disabled',true)
                }
            });
            $('#townDong').change(async function (){
                console.log($('#townDong').val());
                const result = await $.ajax('/api/v1/admin/town/checkDong?townDong='+$('#townDong').val());
                console.log(result)
                if(result===false){
                    $('#town').prop('disabled', false);
                }else{
                    $('#town').prop('disabled',true)
                }
            });
            $('#town').click(async function(){
            await $.ajax({
                    url: 'https://dapi.kakao.com/v2/local/search/address.json',
                    type: 'GET',
                    headers: { 'Authorization': 'KakaoAK 3aebe1c5743b1fcc93a6bfb52e8ff445' },
                    data: {
                        query: $('#townDong').val()
                    },
                    dataType: 'json',
                    success: function(data) {
                        const latitude = data.documents[0].address.y;
                        const longitude = data.documents[0].address.x;
                        console.log(latitude)
                        console.log(longitude);
                        document.getElementById("latitude").value = latitude;
                        document.getElementById("longitude").value = longitude;
                    }
                });
                // FormData 처리 방식
                // 1. new FormData($('폼아이디')[0]);
                // 2. new FormData() -> 원소를 하나씩 append
               const formData = new FormData();

                formData.append('townGu', $('#townGu').val());
                formData.append('townDong', $('#townDong').val());
                formData.append('_csrf', $_csrf);
                formData.append('townLatitude', $('#latitude').val());
                formData.append('townLongitude',$('#longitude').val());
                // formData 객체 출력하기 - forOf 반복문으로만 출력 가능
                for(let key of formData.keys()){
                    console.log(key+" : "+formData.get(key));
                }
                // 1. Multipart-formdata: contentType: false
                // 2. $.ajax는 js 객체를 자동으로 urlencoded로 변환(processData)
                //		{username:'spring', nai:20} -> ?username=spring&nai=20}
                try{
                  await $.ajax({
                        url: "/api/v1/admin/town/save",
                        method:'post',
                        data: formData,
                        processData:false, 	// urlencoded 자동 변환 옵션
                        contentType:false 	// Multipart-formdata 지정 옵션
                    });
                    alert("등록완료!")
                }catch(err){
                    alert('등록불가');
                }
            });
        });
    </script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
        <h1>동네 등록</h1>
        <div class="mb-3 mt-3">
            <input type="text" id="serchDong" name="serchDong">
            <button id="inputGu">검색할 동 입력</button>
        </div>
        <div class="mb-3 mt-3">
            <select id="townDong">
                <option>검색부터 하세요</option>
            </select>
        </div>
        <div class="mb-3 mt-3 d-grid">
            <button id="town" type="button" class="btn btn-primary btn-block" disabled="disabled">입력</button>
        </div>
        <input type="hidden" id="townGu" name="townGu">
        <input type="hidden" id="latitude" name="townLatitude">
        <input type="hidden" id="longitude" name="townLongitude">
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>