<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>QnA 리스트</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
        <h1>QnA 리스트</h1>
        <table>
            <colgroup>
                <col width="25%">
                <col width="30%">
                <col width="25%">
                <col width="20%">

            </colgroup>
            <tbody>
                <tr>
                    <th>상품 명</th>
                    <th>작성자</th>
                    <th>작성 시간</th>
                    <th> </th>
                </tr>
                <tr th:each="q:${list}">
                    <td th:text="${q.productName}"></td>
                    <td th:text="${q.qnaWriter}"></td>
                    <td th:text="${q.qnaWriteDate}"></td>
                    <td> <a th:href="@{/admin/qna/write(qnaNo=${q.qnaNo})}">답변 달기</a></td>
                </tr>
            </tbody>
        </table>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>