<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>QnA 리스트</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
        <table class="table table-hover">
            <colgroup>
                <col width="20%">
                <col width="20%">
                <col width="15%">
                <col width="25%">
                <col width="20%">
            </colgroup>
            <tbody id="tbody">
                <tr>
                    <th></th>
                    <th>상품 명</th>
                    <th>작성자</th>
                    <th>작성 시간</th>
                    <th></th>
                </tr>
                <tr th:each="q:${list}">
                    <td ><img th:src="${q.productImage}" width="100%"></td>
                    <td th:text="${q.productName}"></td>
                    <td th:text="${q.memberNickname}"></td>
                    <td th:text="${#temporals.format(q.qnaWriteDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <td> <a type="button" style="color: white" class="btn btn-primary"  th:href="@{/admin/qna/write(qnaNo=${q.qnaNo})}">답변 달기</a></td>
                </tr>
            </tbody>
        </table>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>