<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>qna 작성</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
        <div>
            <div>
                <p th:text="${qna.memberNickname}"></p>
                <p th:text="${qna.qnaContent}"></p>
                <p th:text="${qna.qnaWriteDate}"></p>
            </div>
            <form action="/admin/qna/write" method="post">
                <input type="hidden" id="_csrf" name="_csrf">
                <input type="hidden" name="qnaNo" th:value="${qna.qnaNo}">
                <input type="hidden" name="qnaWriter" th:value="${qna.qnaWriter}">
                <textarea name="qnaAnswerContent"></textarea>
                <button >답변 작성하기</button>
            </form>


        </div>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>