@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');  /*나눔 고딕(font-family: 'Nanum Gothic', sans-serif;)*/
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');        /*Dongle(font-family: 'Dongle', sans-serif;)*/
*{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    margin:0;
    padding:0;
}
header {
    height:120px;
    display:flex;
    border-top: 3px solid #dfaa8b;
    border-bottom: 3px solid #dfaa8b;
    margin: 10px 20px;
}

.header_logo {
    display: flex;
    align-content: center;
    justify-content: center;
    width:50%;
    text-align:center;
    line-height:86px;
    margin: 3px 0;
}
.header_team, .header_icon{
    display: flex;
    align-items: flex-end;
    width: 15%;
    padding: 10px;
}

.header_icon{
    justify-content: flex-end;
}

.header_team > a, .header_icon > a{
    margin: 5px;
    color: #ed9e71;
}
.header_team > a :hover, .header_icon > a :hover{
    color: #dc7f64;
}

nav {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #c9dc92;
    border-bottom: 1px solid #c9dc92;
    margin: 10px 20px;
}
nav > a {
    font-size:2.5em;
    font-family: 'Dongle', sans-serif;
    text-decoration: none;
    color: black;
}
nav > a :hover{
    color: #ed9e71;
}

main {
    display:flex;
    justify-content: center;
    overflow: hidden;
    margin: 10px 20px;
}
aside {
    width:16%;
    height:700px;
    position:relative;

}


#aside > ul, #notification{
    margin: 0;
    padding: 0;
}
#aside_title{
    text-align: center;
}
#aside_title > li > a{
    font-family: 'Dongle', sans-serif;
    font-size: 2em;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #c9dc92;

}
#bside > div, #bside > div > li {
    text-align: center;
}
#side_bar > li > a{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.1em;
    text-decoration: none;
    color: black;
}


.title > li{ text-align: center;}
.title > li > a { text-align: center; font-size: 15px; font-weight:bold; color:black;}
.side_bar {
    text-align:center;
}
.side_bar > li > h2{ font-size: 15px; color: darkblue;}
.side_bar > li {
    margin-top:20px;
}

section {
    width:70%;
    min-height:700px;
    border-left: 3px solid #dfaa8b;
    border-right: 3px solid #dfaa8b;
}
footer {
    display: flex;
    border-top: 3px solid #dfaa8b;
    justify-content: center;
    align-content: center;
    margin: 10px 20px;
    text-align: center;
    height: 100px;
}
footer > div{
    display: inline-block;
    height: auto;
}
footer > div > span {
    font-family: 'Dongle', sans-serif;
    font-size: 1.2em;
}

.fa-heart{
    color: red;
}


@media (max-width: 800px) {
   header{
       justify-content: center;
   }
    header > div > div > h1{

    }
    header > div > div > img{
        height: 50%;
    }

    .header_icon, .header_team {
        display:none;
    }
    aside{
        display: none;
    }

    #aside{
        display: none;
    }
    #bside {
        display: none;
    }
}
@media screen and (min-width: 800px) {
    header{ justify-content: space-between;}

    header > div > div > img{
        height: 100%;
    }
}