::selection {
    background: #eaad8a;
}

.search-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top:40%;
    left:50%;
}
.search-wrapper.active {}

.search-wrapper .input-holder {
    height: 70px;
    width:70px;
    overflow: hidden;
    background: rgb(237, 158, 113);
    border-radius:6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    width:450px;
    border-radius: 50px;
    background: rgb(230, 177, 147,0.5);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
    width:100%;
    height: 50px;
    padding:0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    color: #090303;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
    width:70px;
    height:70px;
    border:none;
    border-radius:6px;
    background: #ff9557;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 50px;
    height:50px;
    margin: 10px;
    border-radius: 30px;
}
.search-wrapper .input-holder .search-icon .search-span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon .search-span {
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon .search-span::before, .search-wrapper .input-holder .search-icon .search-span::after {
    position: absolute;
    content:'';
}
.search-wrapper .input-holder .search-icon .search-span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 16px;
    border-radius: 2px;
    background: #ffffff;
}
.search-wrapper .input-holder .search-icon .search-span::after {
    width: 21px;
    height: 21px;
    left: 0px;
    bottom: 6px;
    border-radius: 16px;
    border: 4px solid #ffffff;
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right:-50px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #ff9557;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}
.search-container{

    width: 90%;
    height: 55%;
    border: 4px solid #ea986b;
    border-radius: 10px;
    display: flex;
    position: relative;
    top: 25%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 15px #c8c6c6;
}
.search-container p {
    font-size: 1.0em;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;

}
.user-img-wrap{
    position: relative;
    width: 62%;
    animation: fadein 1s;
    margin-left: 20px;
    box-shadow: 0px 3px 15px #c8c6c6;
    border-radius: 10px;
}

.user-info-wrap{
    position: relative;
    padding: 5px 15px 15px 15px;
    width: 75%;
    height: 90%;
    margin: 10px 15px 20px 15px;
    animation: fadein 1.5s;
    font-family: "Nanum Gothic",sans-serif;
}
.user-img{

}
.user-img img{
    width: 100%;
    border-radius: 10px;
}
.user-introduce{
   height: 60px;
    width: 100%;
    overflow-y: auto;
    display: inline-block;
}
.profile-btn{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #f4984e;
    background-color: #ecae8c;
    font-family: "Nanum Gothic",sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 600;

}

.search-container .nick{
    font-family: "Nanum Gothic",sans-serif;
    font-size: 40px;
    font-weight:1100;
    text-align: center;
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
