<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!------------------------------------------------------------------------------------------------------------------------------>
  <!--기본 CND, Script, CSS 내장 삽입-->
  <th:block th:replace="~{fragments/head :: head}"></th:block>
  <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

  <!------------------------------------------------------------------------------------------------------------------------------>
  <title>상품 조회 페이지</title>
  <style>
    .hide {
      display: none;
    }
  </style>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
  <aside th:replace="~{fragments/aside :: aside}"></aside>
  <section>
    <div class="container mt-3">
      <h2>주문 조회</h2>
      <div th:each="order:${orders}">
        <div class="card bg-success text-white">
          <div class="card-body" style="overflow:hidden;">
            <div style="float:left;">
              배송일:<span th:text="${order.productOrderDate}"></span>
            </div>
            <div style="float:right;">
              배송지:<span th:text="${order.addressPostcode+order.addressAddress+order.addressAddressDetail}"></span>
            </div>
          </div>
        </div>
        <table class="table table-border">
          <tr th:each="item:${order.orderDetailList}">
            <td>
              <img th:src="${item.productImage}" width="100px">
            </td>
            <td>
              <span th:text="${item.productName}"></span>
            </td>
            <td>
              <span th:text="${item.productOrderDetailCount}"></span>개/
              <span th:text="${item.productOrderDetailPrice}"></span>원
            </td>
            <td>
              <span th:classappend="${item.productOrderDetailReviewEnabled? '':'hide'}">
              <a type="button" class="btn btn-primary" th:classappend="${item.productOrderDetailReviewEnabled? '':'hide'}"  th:href="@{/mall/product/review/write(productOrderDetailNo=${item.productOrderDetailNo})}">리뷰 작성</a>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
  <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>