<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>

<title>상품 주문상세 페이지</title>
<style>
    #placeOrder {
        font-weight: bold;
        font-family: 'Gothic', sans-serif;
        text-align: center;
        font-size: 40px;
    }

    .table td img {
        margin-right: 40px;
    }

    .table-container {
        width: 80%;
        margin: 0 auto;
    }

    .address-container {
        width: 60%;
        margin: 0 auto;
    }

    .table {
        width: 100%;
        margin-left: auto; margin-right: auto;
    }

    .table th {
        text-align: center;
    }

    .productInfo {
        text-align: center;
        vertical-align: middle;
    }

    .title {
        font-weight: bold;
        font-family: 'Gothic', sans-serif;
        text-align: center;
        font-size: 28px;
    }
</style>
<script th:inline="javascript">
    const data = [[${map}]];
</script>
<script>
    let productName = undefined;
    let cartDetailCount = undefined;
    let cartTotalPrice = undefined;
    let taxFreeAmount = undefined;

    $(document).ready(function() {

        const orderItems = data.orderItems;
        $('#order').click(function() {
            const usedMemberPoint = $('#pointInput').val();
            const orderTotalPrice = $('#orderTotalPrice').text().replace("원", "").replace(",", "");

            $.ajax({
                type: 'post',
                url: '/api/v1/order/check',
                data: {
                    usedMemberPoint: usedMemberPoint,
                    orderTotalPrice: orderTotalPrice,
                    addressNo: $('input[name="address"]:checked').val(),
                    _csrf: $_csrf
                },
                statusCode: {
                    200: function (res) {
                        productName = '';
                        cartDetailCount = 0;
                        if (orderItems.length == 1) {
                            productName = orderItems[0].productName;
                            cartDetailCount = orderItems[0].cartDetailCount;
                            cartTotalPrice = orderTotalPrice;
                            taxFreeAmount = 0;
                        } else {
                            let i = 0;
                            for (const item of orderItems) {
                                cartDetailCount += orderItems[i].cartDetailCount;
                                i++;
                            }
                            cartTotalPrice = orderTotalPrice;
                            taxFreeAmount = 0;
                            productName = orderItems[0].productName + ' 외 ' + ((orderItems.length) - 1) + '건';
                        }

                        const totalAmount = parseInt(cartTotalPrice.replace(/[^0-9]/g, ''));

                        $.ajax({
                            type: 'get',
                            url: '/api/v1/pay/start',
                            data: {
                                item_name: productName,
                                quantity: cartDetailCount,
                                total_amount: totalAmount,
                                tax_free_amount: taxFreeAmount
                            },
                            success: function (res) {
                                location.href = res.next_redirect_pc_url;
                            }
                        });
                    }
                }
            })
        })


        // 결제 예정 금액
        const printOrderTotalPrice = data.orderTotalPrice + 3000;
        $('#orderTotalPrice').text(printOrderTotalPrice + '원');


        $("#usePoint").click(function() {
            let $pointInput = $('#pointInput');
            let $pointInputValue = parseInt($pointInput.val());
            let bonePoint = $pointInputValue;
            const memberPoint = data.memberPoint;
            const orderTotalPrice = data.orderTotalPrice + 3000;

            if (!$pointInputValue) {
                alert('사용할 포인트를 입력해주세요');
                return;
            }

            if ($pointInputValue > orderTotalPrice) {
                alert('결제 금액을 초과하였습니다.')
                $pointInput.val(orderTotalPrice);
                $('#bonePoint').text('-' + orderTotalPrice + '원');


            } else if ($pointInputValue > memberPoint) {
                alert('보유한 포인트를 초과하였습니다')
                $pointInput.val(0);
                $('#bonePoint').text('');

            } else if ($pointInputValue < 0) {
                alert('0포인트 이상 사용 가능합니다')
                $pointInput.val(0);
                $('#bonePoint').text('');
            }

            $pointInputValue = parseInt($pointInput.val());
            bonePoint = $pointInputValue;
            $('#bonePoint').text('-' + $pointInputValue + '원');
            $('#orderTotalPrice').text((orderTotalPrice - bonePoint) + '원');
        });

        $("#fullUse").click(function() {
            let $pointInput = $('#pointInput');
            let $pointInputValue = parseInt($pointInput.val());
            let bonePoint = $pointInputValue;
            const memberPoint = data.memberPoint;
            const orderTotalPrice = data.orderTotalPrice + 3000;

            if (memberPoint >= orderTotalPrice) {
                $pointInput.val(orderTotalPrice);
            } else {
                $pointInput.val(memberPoint);
            }

            $pointInputValue = parseInt($pointInput.val());
            bonePoint = $pointInputValue;
            $('#bonePoint').text('-' + $pointInputValue + '원');
            $('#orderTotalPrice').text((orderTotalPrice - bonePoint) + '원');
        });
    })
</script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
<aside th:replace="~{fragments/aside :: aside}"></aside>
<section>
    <div class="table-container">
        <div id="placeOrder">구매하기</div>
        <br>
        <table class="table table-hover">
            <colgroup>
                <col style="width: 25%;">
                <col style="width: 25%;">
                <col style="width: 25%;">
                <col style="width: 25%;">
            </colgroup>
            <thead>
                <tr>
                    <th colspan="2">상품정보</th><th>수량</th><th>상품금액</th>
                </tr>
            </thead>
            <tbody id="orderItems">
                <tr th:each="i:${map.orderItems}">
                    <td class="productInfo" style="padding-top: 20px; padding-bottom: 20px;"><img th:src="${i.productImage}" width="100px" height="100px"></td>
                    <td class="productInfo"><span th:text="${i.productName}"></span></td>
                    <td class="productInfo"><span th:text="${i.cartDetailCount}" style="font-weight: bold"></span></td>
                    <td class="productInfo"><span th:text="${#numbers.formatInteger(i.cartDetailPrice,0,'COMMA')}"></span>원</td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight: bold; text-align: left; padding-top: 20px; padding-bottom: 20px;">주문금액</td>
                    <td colspan="2" class="productInfo">
                        <span style="font-weight: bold" th:text="${#numbers.formatInteger(map.orderTotalPrice+3000,0,'COMMA')}+'원'")></span>
                        <span id="totalPrice" th:text="'(상품가 '+${#numbers.formatInteger(map.orderTotalPrice,0,'COMMA')}+'원+배송비 3,000원)'"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <div>
        <div class="title">배송지정보</div>
        <br>
        <div>
            <div th:each="a:${map.addresses}" class="address-container">
                <div th:class="${a.defaultAddressEnabled==true} ? 'card bg-secondary text-white' : 'card'">
                    <div class="card-body">
                        <input type="radio" class="form-check-input addressNo" th:checked="${a.defaultAddressEnabled}" th:value="${a.addressNo}" name="address">
                        (<span th:text="${a.addressName}"></span>)
                        <span th:text="${a.addressAddress}"></span>
                        <span th:text="${a.addressAddressDetail}"></span>
                    </div>
                </div>
            </div>
            <div class="mb-3 mt-3" style="width: 60%; margin: 0 auto; text-align: right;">
                <a type="button" class="btn btn-secondary" href="http://localhost:8081/member/mall/address/add" style="color: white;">배송지 추가</a>
            </div>
        </div>
        <br>
    </div>
        <div style="text-align: center">
            <div class="title">뼈다귀 포인트 사용</div>
            <br>
                <div>
                    <span>보유</span>
                    <span id="memberPoint" th:text="${#numbers.formatInteger(map.memberPoint,0,'COMMA')}+'원'"></span>
                </div>
                <div>
                    <label for="pointInput"></label>
                    <div><input type="number" id="pointInput" min="0">원</div>
                    <button id="usePoint">사용</button>
                    <button id="fullUse">전액사용</button>
                </div>
        </div>
    <br>
    <br>
    <div style="text-align: center">
        <div class="title">결제방법</div>
        <br>
        <input type="radio" checked="checked" /><span class="up">카카오페이</span>
    </div>
    <br>
    <br>
        <div style="text-align: center">
            <div class="title">결제상세</div>
            <br>
                <div>
                    <span>주문금액</span>
                    <span th:text="${#numbers.formatInteger(map.orderTotalPrice,0,'COMMA')}+'원'"></span>
                </div>
                <div>
                    <span>배송비</span>
                    <span>+3,000원</span>
                </div>
                <div>
                    <span>뼈다귀 포인트 사용</span>
                    <span id="bonePoint"></span>
                </div>
        </div>
    <br>
    <br>
        <div style="text-align: center">
            <div class="title">결제예정금액</div>
            <br>
            <div id="orderTotalPrice"></div>
        </div>
    <br>
    <br>
        <div style="text-align: center">
            <button id="order" type="button" class="btn btn-primary btn-block">결제하기</button>
        </div>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>