<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>상품 주문상세 페이지</title>
    <script th:inline="javascript">
        const data = [[${map}]];
    </script>
    <script>
    let productName = undefined;
    let cartDetailCount = undefined;
    let cartTotalPrice = undefined;
    let taxFreeAmount = undefined;
    $(document).ready(function() {
        console.log(data);
           const orderItems = data.orderItems;
           const orderTotalPrice = data.orderTotalPrice;
            console.log(orderItems);
            console.log(orderTotalPrice);
        $('#kaobtn').click(function() {
            productName = '';
            cartDetailCount = 0;
            if(data.orderItems.length==1){
                productName = data.orderItems[0].productName;
                cartDetailCount = data.orderItems[0].cartDetailCount;
                cartTotalPrice = data.orderTotalPrice;
                taxFreeAmount = Math.round(cartTotalPrice/10);
            }else{
                let i=0;
                for (const item of data.items) {
                    cartDetailCount += data.items[i].cartDetailCount;
                    i++;
                }
                cartTotalPrice = data.orderTotalPrice;
                taxFreeAmount = Math.round(cartTotalPrice/10);
                productName = data.orderItems[0].productName+ ' 외 '+((data.orderItems.length)-1)+'건';
            }
            $.ajax({
                type:'get',
                url:'/pay/start',
                data: {
                    item_name : productName,
                    quantity : cartDetailCount,
                    total_amount : cartTotalPrice,
                    tax_free_amount : taxFreeAmount
                },
                success:function(res) {
                    location.href = res.next_redirect_pc_url;
                }
            })
        })


        $("#order").click(function() {
            const $form = $('<form>').attr('action', "/order/check").attr('method','post');
            $.each($(".addressNo"), function(idx, element) {
                if($(element).attr("checked")=="checked")
                    $('<input type="hidden" name="addressNo">').val($(element).val()).appendTo($form);
            });
            $form.appendTo($('body')).submit();
        })
    })
</script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
        <div class="container mt-3">
            <h2>주문 상품</h2>
            <div th:each="i:${map.orderItems}" class="card">
                <div class="card-body">
                    <div class="product_info" style="overflow:hidden;">
                        <div style="float:left;">
                            <img th:src="${i.productImage}" width="100px" >
                        </div>
                        <div style="float:left; margin-left:20px;">
                            <p th:text="${i.productName}"></p>
                            <p>
                                <span th:text="${i.cartDetailPrice}"></span>원 /
                                <span th:text="${i.cartDetailCount}"></span>개
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h2>배송지</h2>
        <div th:each="a:${map.addresses}" class="container mt-3">
            <div th:class="${a.defaultAddressEnabled==true} ? 'card bg-secondary text-white' : 'card'">
                <div class="card-body">
                    <input type="radio" class="form-check-input addressNo" th:checked="${a.addressNo}" th:value="${a.addressNo}" name="address">
                    (<span th:text="${a.addressName}"></span>)
                    <span th:text="${a.addressAddress}"></span>
                    <span th:text="${a.addressAddressDetail}"></span>
                </div>
            </div>
        </div>
        <div class="mb-3 mt-3">
            <a type="button" class="btn btn-primary" href="http://localhost:8081/member/mall/address/add" style="color: white;">배송지 추가</a>
        </div>
        <hr>
        <div class="mb-3 mt-3 d-grid">
            <button id="order" type="button" class="btn btn-primary btn-block">결제하기</button>
            <button id="kaobtn">카카오페이</button>
        </div>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</body>
</html>