<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!------------------------------------------------------------------------------------------------------------------------------>
  <!--기본 CND, Script, CSS 내장 삽입-->
  <th:block th:replace="~{fragments/head :: head}"></th:block>
  <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

  <!------------------------------------------------------------------------------------------------------------------------------>
  <title>상품 주문완료 페이지</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
  <aside th:replace="~{fragments/aside :: aside}"></aside>
  <section>
    <p>주문성공</p>
    <div class="container mt-3">
      <h2>주문이 완료되었습니다</h2>
      <div class="card bg-success text-white">
        <!--주문일:<span th:text="${order.productOrderDate}"></span>-->
        주문일:<span th:text="${productOrderDate}"></span>
        배송지:<span th:text="${order.addressPostcode+order.addressAddress+order.addressAddressDetail}"></span>
      </div>
      <table>
        <tr>
          <td>주문일</td>
          <td>배송지</td>
          <td>배송상태</td>
        </tr>
        <tr th:each="item:${order.orderDetailList}">
          <td>
            <img th:src="${item.productImage}" width="100px">
          </td>
          <td>
            <span th:text="${item.productName}"></span>
          </td>
        </tr>
      </table>
    </div>
  </section>
  <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>