<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!------------------------------------------------------------------------------------------------------------------------------>
  <!--기본 CND, Script, CSS 내장 삽입-->
  <th:block th:replace="~{fragments/head :: head}"></th:block>
  <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

  <!------------------------------------------------------------------------------------------------------------------------------>
  <title>상품 주문완료 페이지</title>
  <style>
    #orderSuccess {
      font-weight: bold;
      font-family: 'Gothic', sans-serif;
      text-align: center;
      font-size: 40px;
    }
    .table td img {
      margin-right: 40px;
    }
    .table-container {
      width: 80%;
      margin: 0 auto;
    }
    .table {
      width: 100%;
      margin-left: auto; margin-right: auto;
    }
    .table th {
      text-align: center;
    }
    .productInfo {
      text-align: center;
      vertical-align: middle;
    }
  </style>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
  <aside th:replace="~{fragments/aside :: aside}"></aside>
  <section>
    <div class="table-container">
      <div id="orderSuccess">주문이 완료되었습니다</div>
      <br>
      <div class="card bg-success text-white">
        주문일:<span th:text="${productOrderDate}"></span>
        배송지:<span th:text="${'('+order.addressPostcode+')'+order.addressAddress+order.addressAddressDetail}"></span>
      </div>
      <br>
      <table class="table table-hover">
        <colgroup>
          <col style="width: 50%;">
          <col style="width: 25%;">
          <col style="width: 25%;">
        </colgroup>
        <thead>
        <tr>
          <th>상품정보</th><th>수량</th><th>상품금액</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="item:${order.orderDetailList}">
            <td class="productInfo">
              <img th:src="${item.productImage}" width="100px" height="100px">
              <span th:text="${item.productName}"></span>
            </td>
            <td class="productInfo"><span th:text="${item.productOrderDetailCount}"></span></td>
            <td class="productInfo"><span th:text="${#numbers.formatInteger(item.productOrderDetailPrice,0,'COMMA')}"></span>원</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>