<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>상품 상세 보기 페이지</title>
<style>
    #content {
        border: 1px solid #ccc;
    }
    #left {
        float:left;
        width: 50%;
        height:650px;
    }
    #right {
        float: right;
        width: 50%;
        display: flex;
        flex-direction: column;
        height:200px;
    }
    #buttons {
        display: inline-block;
    }

    .choice_image {
        border: 1px solid red;
    }

    .images:hover {
        cursor: pointer;
    }
</style>
<script>
    $(document).ready(function (){
        $('#put').click(function (){
            const formData = $('#form').serialize();
            $.ajax({
                url:'/api/v1/admin/product/put',
                type:'post',
                data: formData,
                success: function(data){
                    $('#productName').attr("value",data.productName);
                    $('#productStock').attr("value",data.productStock);
                    $('#productPrice').attr("value",data.productPrice);
                    $('#productContent').attr("value",data.productContent);
                    alert("성공적으로 변경하였습니다.");
                },
                error(err){
                    console.log(err);
                }
            })
        })
        $('#delete').click(function(){
            const deleteMessage = confirm("삭제하시겠습니까?");
            if (deleteMessage){
                $('#form').attr("action","/admin/product/delete").submit();
            }
        })
    })

</script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
        <form id="form" method="post" enctype="multipart/form-data">
            <input type="hidden" id="_csrf" name="_csrf">
        <input type="hidden" name="productNo" th:value="${product.productNo}" id="productNo">
        <div style="overflow:hidden;">
            <div id="left">
                <div>
                    <img th:src="${product.productImages[0]}" id="select_image" height="200px">
                </div>
                <div>
                    <img th:each="image:${product.productImages}" th:src="${image}" width="100px" style="margin: 5px;" class='images'>
                </div>
            </div>
            <div id="right">
                <span class="product-price">
                    <input id="productName" name="productName" th:value="${product.productName}"><br>
                    <input id="productStock" name="productStock" th:value="${product.productStock}"><span> 개</span><br>
                    <input id="productPrice" name="productPrice" th:value="${product.productPrice}"><span> 원</span>
                </span>
            </div>
            <div id="buttons">
                <button id="put" type="button" class="btn btn-primary" >상품 수정</button>
                <button id="delete" type="button" class="btn btn-warning" >상품 삭제</button>
            </div>
        </div>
        <div id="content">
            <input id="productContent" name="productContent" th:value="${product.productContent}">
        </div>
        <hr>
        </form>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>