<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!------------------------------------------------------------------------------------------------------------------------------>
  <!--기본 CND, Script, CSS 내장 삽입-->
  <th:block th:replace="~{fragments/head :: head}"></th:block>
  <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

  <!------------------------------------------------------------------------------------------------------------------------------>
  <title>상품 등록</title>
  <script>
    $(document).ready(function(){
      $('#add').click(function (){
          $('#add_form').submit();
      })
    })
  </script>

</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
  <aside th:replace="~{fragments/aside :: aside}"></aside>
  <section>
    <form id="add_form" action="/admin/product/write" method="post" enctype="multipart/form-data">
      <input type="hidden" id="_csrf" name="_csrf">
      <div class="mb-3 bt-3">
        <label for="productCategoryNo">카테고리 선택</label>
        <select name="productCategoryNo" id="productCategoryNo">
          <option selected disabled>카테고리를 선택하세요</option>
          <option value="1">사료/간식</option>
          <option value="2">장난감</option>
          <option value="3">산책용품</option>
          <option value="4">기타</option>
        </select>
      </div>
      <div class="mb-3 bt-3">
        <input type="file" name="productImages"><br>
        <input type="file" name="productImages"><br>
        <input type="file" name="productImages">
      </div>
      <div class="mb-3 bt-3">
        <label for="productName">상품 명: </label>
        <input type="text" id="productName" name="productName"><br>
        <label for="productPrice">상품 가격: </label>
        <input type="text" id="productPrice" name="productPrice"><br>
        <label for="productStock">상품 수량: </label>
        <input type="number" id="productStock" name="productStock">
      </div>
      <div class="mb-3 bt-3">
        <label for="productContent">상품 설명: </label>
        <textarea id="productContent" name="productContent"></textarea>
      </div>
        <button type="button" class="btn btn-primary" id="add">등록</button>
    </form>
  </section>
  <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>