<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>메인</title>

</head>
<style>

</style>
<body>
<header th:replace="~{/fragment/header.html}"> </header>

</header>
<main>
    <aside th:replace="~{/fragment/aside.html}">

    </aside>
    <section>
        <article></article>
    </section>
</main>
<footer th:replace="~{/fragment/aside.html}">
</footer>
</body>
</html>