<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>리뷰</title>
    <style>
        #page_ul {
            width: 300px;
            margin: 0 auto;
        }
    </style>
    <script>
        function printReview(review) {
            const $tbody = $('#tbody');
            review.forEach(r => {
                    const tpl = `<tr>
                    <td>
                        <a href="/member/profile?memberNo=${r.receiverNo}">${r.reviewReceiver}</a>
                    </td>
                    <td>${r.reviewContent}</td>
                    <td>${r.puchingPromiseDate}</td>
			    </tr>`;
                    $tbody.append(tpl);
                }
            )
        }


        function printPagination({prev, start, end, next, pageno}) {
            const $ul = $('#page_ul');
            if(prev>0)
                $ul.append(`<li class='page-item'><a class='page-link' href='/member/puching/review?pageno=${prev}'>이전</a></li>`);
            for(let i=start; i<=end; i++) {
                const tpl = `
				<li class='page-item ${pageno==i? "active":""}'>
					<a class='page-link' href='/member/puching/review?pageno=${i}'>${i}</a>
				</li>
			`;
                $ul.append(tpl);
            }
            if(next>0)
                $ul.append(`<li class='page-item'><a class='page-link' href='/member/puching/review?pageno=${next}'>다음</a></li>`)
        }

        $(document).ready(async function() {
            const param = new URLSearchParams(location.search);
            const pageno = param.get('pageno') == null ? 1 : param.get('pageno');
            try {
                const result = await $.ajax("/api/v1/review/imfo?pageno=" + pageno);
                console.log(result.review);
                printReview(result.review);
                printPagination(result);
            } catch (err) {
                console.log(err);
            }
        });
    </script>
</head>
<body>
<div id="page">
    <header th:replace="~{fragments/header :: header}"></header>
    <nav th:replace="~{fragments/nav :: nav}"></nav>
    <main>
        <aside th:replace="~{fragments/aside :: aside}"></aside>
        <section>
            <h1>작성된 리뷰</h1>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>이름</th><th>내용</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
            <ul class="pagination" id="page_ul">
            </ul>
        </section>
        <aside th:replace="~{fragments/bside :: bside}"></aside>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>