<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>몰 메인</title>

</head>
<style>

</style>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
        <h1>몰 메인</h1>
        <button type="button" class="btn btn-primary" onclick="location.href='http://localhost:8081/mall/product/list?categoryNo=1'">사료/간식</button>
        <button type="button" class="btn btn-primary" onclick="location.href='http://localhost:8081/mall/product/list?categoryNo=2'">장난감</button>
        <button type="button" class="btn btn-primary" onclick="location.href='http://localhost:8081/mall/product/list?categoryNo=3'">산책용품</button>
        <button type="button" class="btn btn-primary" onclick="location.href='http://localhost:8081/mall/product/list?categoryNo=4'">기타</button>
        <article></article>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
