<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<!------------------------------------------------------------------------------------------------------------------------------>
	<!--기본 CND, Script, CSS 내장 삽입-->
	<th:block th:replace="~{fragments/head :: head}"></th:block>
	<!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

	<!------------------------------------------------------------------------------------------------------------------------------>
	<title>Kakao Pay</title>
	<style>
		span { text-align: center; margin: 0 auto}
		div {text-align: center; margin: 0 auto}
		th {text-align: center}
	</style>
	<script>

		$(document).ready(function(){


		})
	</script>
<script th:inline="javascript">
	const data = [[${map}]];
</script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
	<aside th:replace="~{fragments/aside :: aside}"></aside>
	<section>
			<h1>주문</h1>
			<h2>결제하실 상품</h2>
	<table style="width:100%;" id="cart_table" class="table table-hover">
		<tr>
			<th></th>
			<th><span>상품 정보</span></th>
			<th><span>금액</span></th>
		</tr>
		<tr th:each="item:${map.orderItems}">
			<td style="width:20%;">
				<img th:src="${item.productImage}" width="100px;" >
			</td>
			<td style="width:30%;">
				<div class="upper">
					<span th:text="${item.productName}"></span>
				</div>
				<div class="lower">
					<span th:text="${item.cartDetailCount}"></span>개
				</div>
			</td>
			<td style="width:20%; text-align: center;">
				<span th:text="${item.cartDetailCount*item.cartDetailPrice}" class="item_price"></span>원
			</td>
		</tr>
	</table>
	<div style="text-align: center">
		결제 총 금액: <span th:text="${map.orderTotalPrice}"></span>원<br>
		<button id="kaobtn">카카오페이</button>
	</div>
		</section>
		<aside th:replace="~{/fragments/bside.html}"></aside>
	</main>
	<footer th:replace="~{/fragments/footer.html}">
	</footer>
</body>
</html>