<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!--기본 CND, Script, CSS 내장 삽입-->
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!--기타 삽입(해당 페이지 별로 아래에 추가할 것)-->

    <!------------------------------------------------------------------------------------------------------------------------------>
    <title>공지사항 게시판 목록 페이지</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<main>
    <aside th:replace="~{fragments/aside :: aside}"></aside>
    <section>
        <h1>공지사항 게시판 목록 페이지</h1>


        <table class="table table-hover table-striped text-center">

            <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>글쓴시간</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${list}">
                <td th:text="${board.boardNoticeNo}"></td>
                <td>
                    <a th:href="@{/board/notice/read(boardNoticeNo=${board.boardNoticeNo})}" th:text="${board.boardNoticeTitle}">게시물 제목</a>
                </td>
                <td th:text="${board.boardNoticeWriter}"></td>
                <td th:text="${#temporals.format(board.boardNoticeWriteDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${board.boardNoticeReadCount}"></td>

            </tr>
            </tbody>
        </table>
    </section>
    <aside th:replace="~{fragments/bside :: bside}"></aside>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>